[2022-03-29 08:55] zoltanszogyenyi opened #3 "Build Avatar Component"
Reference: https://flowbite.com/docs/components/avatar/

[2022-03-29 08:55] zoltanszogyenyi opened #4 "Build Carousel component"
Reference: https://flowbite.com/docs/components/carousel/

[2022-03-29 08:56] zoltanszogyenyi opened #5 "Build Modal component"
Reference: https://flowbite.com/docs/components/modal/

[2022-03-29 08:56] zoltanszogyenyi opened #6 "Build Tabs component"
Reference: https://flowbite.com/docs/components/tabs/

[2022-03-29 08:57] zoltanszogyenyi opened #7 "Build Navbar component"
Reference: https://flowbite.com/docs/components/navbar/

[2022-03-29 08:57] zoltanszogyenyi opened #8 "Build Footer component"
Reference: https://flowbite.com/docs/components/footer/

[2022-03-29 08:58] zoltanszogyenyi opened #9 "Build Sidebar component"
Reference: https://flowbite.com/docs/components/sidebar/

[2022-03-29 08:58] zoltanszogyenyi opened #10 "Build Pagination component"
Reference: https://flowbite.com/docs/components/pagination/

[2022-03-29 08:58] zoltanszogyenyi opened #11 "Build Rating component"
Reference: https://flowbite.com/docs/components/rating/

[2022-03-29 08:59] zoltanszogyenyi opened #12 "Build Timeline component"
Reference: https://flowbite.com/docs/components/timeline/

[2022-03-29 08:59] zoltanszogyenyi opened #13 "Build Progress Bar component"
Reference: https://flowbite.com/docs/components/progress/

[2022-03-29 09:00] zoltanszogyenyi opened #14 "Build Table component"
Reference: https://flowbite.com/docs/components/tables/

[2022-03-29 09:00] bacali95 commented on #5
I started implementing this component locally, I will push as soon as it is done.

[2022-03-29 09:01] zoltanszogyenyi opened #15 "Build Toast component"
Reference: https://flowbite.com/docs/components/toast/

[2022-03-29 09:02] zoltanszogyenyi commented on #5
Hey @bacali95,

Awesome! Please mark yourself as an "Assignee".

I think we could also create a Kanban board on Github so we can see which ones are being worked on already.

[2022-03-29 09:06] zoltanszogyenyi commented on #5
Here's the [project kanban board](https://github.com/orgs/themesberg/projects/2). Added your task to "in progress".

[2022-03-29 09:11] bacali95 commented on #5
Great, thanks :smile:

[2022-03-30 04:32] joeychrys commented on #7
I can start working on it. I forked the issue.

[2022-03-30 18:54] #5 closed

[2022-04-01 11:50] bacali95 commented on #4
Hey @zoltanszogyenyi, this is done, right?
https://themesberg.github.io/flowbite-react/#/carousel

[2022-04-01 15:13] bacali95 commented on #4
So we can close this one and create another one later.

[2022-04-01 15:13] #4 closed

[2022-04-03 07:32] joeychrys commented on #11
Hey I can start working on this because I think we're almost done with the Navbar.

[2022-04-03 09:07] #7 closed

[2022-04-11 09:38] #11 closed

[2022-04-12 18:03] k2glyph commented on #13
https://github.com/themesberg/flowbite-react/pull/20

[2022-04-12 19:17] mouracamila commented on #8
Hi @zoltanszogyenyi
I'd like to work on this issue, please assign it to me.

[2022-04-12 22:25] joeychrys commented on #15
Hey I can start this.

[2022-04-13 13:12] #3 closed

[2022-04-14 10:30] #13 closed

[2022-04-14 14:02] #14 closed

[2022-04-14 14:48] #15 closed

[2022-04-14 15:17] k2glyph commented on #10
https://github.com/themesberg/flowbite-react/pull/27

[2022-04-14 15:51] rluders commented on #10
@k2glyph add the issue number to the title, please. :)

[2022-04-15 21:23] joeychrys commented on #12
I can start this.
I'll structure it like:
`<Timeline>
	<Timeline.item>
		{content}
	<Timeline.Item>
</Timeline>`

[2022-04-17 10:21] damirqa opened #416 "event listener is not added"

[2022-04-18 08:03] rluders opened #34 "README"
**Is your feature request related to a problem? Please describe.**
Currently, the repository doesn't have a `README.md`, so we need to introduce it to make it easy to people to use the library as well to contribute to it.

**Describe the solution you'd like**
I think that the current [flowbite](https://github.com/themesberg/flowbite/blob/main/README.md)'s README is pretty good. So, maybe get some

[2022-04-18 08:12] rluders opened #35 "Cypress + Axe testing"
**Is your feature request related to a problem? Please describe.**
I believe that is important for us to have some automated tests. Since we do have the docs pages it should not be complicated to test the behaviors of the components. The test must cover usability and accessibility.

**Describe the solution you'd like**
- Install Cypress
- Install Axe
- Create at least ONE example test

**Describe

[2022-04-18 08:14] rluders opened #36 "Unit test for Avatar"
**Is your feature request related to a problem? Please describe.**
The component is missing its unit test.

**Describe the solution you'd like**
Implement the unit test to the component.

**Describe alternatives you've considered**
n/a

**Additional context**
n/a

[2022-04-18 08:15] rluders opened #37 "Unit test for Dropdown"
**Is your feature request related to a problem? Please describe.**
The component is missing its unit test.

**Describe the solution you'd like**
Implement the unit test to the component.

**Describe alternatives you've considered**
n/a

**Additional context**
n/a

[2022-04-18 08:16] rluders opened #38 "Unit test for FormControls"
**Is your feature request related to a problem? Please describe.**
The component is missing its unit test.

- [ ] Checkbox
- [ ] FileInput
- [ ] Label
- [ ] Radio
- [ ] Select
- [ ] TextInput
- [ ] TextArea
- [ ] ToggleSwitch

**Describe the solution you'd like**
Implement the unit test to the component.

**Describe alternatives you've considered**
n/a

**Additional context**
n/a

[2022-04-18 08:17] rluders opened #39 "Unit test for ListGroup"
**Is your feature request related to a problem? Please describe.**
The component is missing its unit test.

**Describe the solution you'd like**
Implement the unit test to the component.

**Describe alternatives you've considered**
n/a

**Additional context**
n/a

[2022-04-18 08:17] rluders opened #40 "Unit test for Modal"
**Is your feature request related to a problem? Please describe.**
The component is missing its unit test.

**Describe the solution you'd like**
Implement the unit test to the component.

**Describe alternatives you've considered**
n/a

**Additional context**
n/a

[2022-04-18 08:17] rluders opened #41 "Unit test for Navbar"
**Is your feature request related to a problem? Please describe.**
The component is missing its unit test.

**Describe the solution you'd like**
Implement the unit test to the component.

**Describe alternatives you've considered**
n/a

**Additional context**
n/a

[2022-04-18 08:18] rluders opened #42 "Unit test for Progress"
**Is your feature request related to a problem? Please describe.**
The component is missing its unit test.

**Describe the solution you'd like**
Implement the unit test to the component.

**Describe alternatives you've considered**
n/a

**Additional context**
n/a

[2022-04-18 08:18] rluders opened #43 "Unit test for Rating"
**Is your feature request related to a problem? Please describe.**
The component is missing its unit test.

**Describe the solution you'd like**
Implement the unit test to the component.

**Describe alternatives you've considered**
n/a

**Additional context**
n/a

[2022-04-18 08:18] rluders opened #44 "Unit test for Alert"
**Is your feature request related to a problem? Please describe.**
The component is missing its unit test.

**Describe the solution you'd like**
Implement the unit test to the component.

**Describe alternatives you've considered**
n/a

**Additional context**
n/a

[2022-04-18 08:18] rluders opened #45 "Unit test for Badge"
**Is your feature request related to a problem? Please describe.**
The component is missing its unit test.

**Describe the solution you'd like**
Implement the unit test to the component.

**Describe alternatives you've considered**
n/a

**Additional context**
n/a

[2022-04-18 08:19] rluders opened #46 "Unit test for Breadcrumb"
**Is your feature request related to a problem? Please describe.**
The component is missing its unit test.

**Describe the solution you'd like**
Implement the unit test to the component.

**Describe alternatives you've considered**
n/a

**Additional context**
n/a

[2022-04-18 08:19] rluders opened #47 "Unit test for Sidebar"
**Is your feature request related to a problem? Please describe.**
The component is missing its unit test.

**Describe the solution you'd like**
Implement the unit test to the component.

**Describe alternatives you've considered**
n/a

**Additional context**
n/a

[2022-04-18 08:20] rluders opened #48 "Unit test for Card"
**Is your feature request related to a problem? Please describe.**
The component is missing its unit test.

**Describe the solution you'd like**
Implement the unit test to the component.

**Describe alternatives you've considered**
n/a

**Additional context**
n/a

[2022-04-18 08:20] rluders opened #49 "Unit test for Carousel"
**Is your feature request related to a problem? Please describe.**
The component is missing its unit test.

**Describe the solution you'd like**
Implement the unit test to the component.

**Describe alternatives you've considered**
n/a

**Additional context**
n/a

[2022-04-18 08:21] rluders opened #50 "Unit test for DarkThemeToggle"
**Is your feature request related to a problem? Please describe.**
The component is missing its unit test.

**Describe the solution you'd like**
Implement the unit test to the component.

**Describe alternatives you've considered**
n/a

**Additional context**
n/a

[2022-04-18 08:22] rluders opened #51 "Unit test for Spinner"
**Is your feature request related to a problem? Please describe.**
The component is missing its unit test.

**Describe the solution you'd like**
Implement the unit test to the component.

**Describe alternatives you've considered**
n/a

**Additional context**
n/a

[2022-04-18 08:22] rluders opened #52 "Unit test for Tooltip"
**Is your feature request related to a problem? Please describe.**
The component is missing its unit test.

**Describe the solution you'd like**
Implement the unit test to the component.

**Describe alternatives you've considered**
n/a

**Additional context**
n/a

[2022-04-18 14:19] mouracamila opened #53 "Create Sidebar page"
**Is your feature request related to a problem? Please describe.**
The sidebar page missing in the documentation

**Describe the solution you'd like**
Implement the Sidebar page

**Describe alternatives you've considered**
n/a

**Additional context**
n/a

[2022-04-18 14:22] mouracamila opened #54 "Dark Theme Toggle Page"
**Is your feature request related to a problem? Please describe.**
The Dark Theme Togglepage missing in the documentation

**Describe the solution you'd like**
Implement the Dark Theme Toggle page

**Describe alternatives you've considered**
n/a

**Additional context**
n/a

[2022-04-18 18:46] mouracamila opened #56 "Sidebar stories"
**Is your feature request related to a problem? Please describe.**
Add the Sidebar component to the storybook

**Describe the solution you'd like**
Add the Sidebar component to the storybook.
Like this example: https://flowbite-react.com/storybook/?path=/story/components-carousel--default-carousel

**Describe alternatives you've considered**
n/

**Additional context**
n/

[2022-04-18 19:07] mouracamila opened #57 "Tooltip Component"
**Describe the bug**
The tooltip element is misaligned from the parent element

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to ['storybook'](https://flowbite-react.com/storybook/?path=/story/components-tooltip--default-tooltip)
2. Click on Tooltip
3. See the error

**Expected behaviour**
The tooltip is aligned to parent element

**Screenshots**
![image](https://user-images.githubuserc

[2022-04-18 19:09] rluders commented on #57
Keep in mind that this issue also affects other components that depends on tooltip, like `Dropdown`.

[2022-04-19 18:39] #10 closed

[2022-04-20 06:30] k2glyph opened #60 "Unit test for Pagination"
**Is your feature request related to a problem? Please describe.**
The component is missing its unit test.

**Describe the solution you'd like**
Implement the unit test to the component.

**Describe alternatives you've considered**
n/a

**Additional context**
n/a

[2022-04-24 23:12] tulup-conner opened #62 "Use custom colors from tailwind.config.js in `color` attribute"
**Is your feature request related to a problem? Please describe.**
I can't really migrate to `flowbite-react` without the ability to use custom colors I defined in `tailwind.config.js`. At the very least, I need an escape hatch in each component (`className`).

**Describe the solution you'd like**
I would like to be able to define a color, `primary` in `tailwind.config.js`, then use that color in

[2022-04-25 03:27] dediananto opened #63 "Carousel view on v0.0.18, the width it not full"
**Describe the bug**
on v0.0.17 we have a bug on carousel control, now on v0.0.18 it has been solved but I got the new bug, the slide width is not full.

**To Reproduce**
Steps to reproduce the behavior:
1. install flowbite & flowbite-react on nextjs with notus template
2. setup the tailwind config like in the documentation
3. create a carousel component
4. See an error

**Expected behavior**
caro

[2022-04-25 04:12] dediananto commented on #63
this issue is because notus theme, they change tailwind config. but I still getting issues with carousel control. the image doesn't change when I click next or prev. How to call flowbite-react? what I do :
import "flowbite"
import {Carousel} from "flowbite-react"

[2022-04-25 04:14] #63 closed

[2022-04-25 07:05] rluders commented on #63
@dediananto should we consider this open or closed? :)

[2022-04-25 08:04] rluders commented on #62
This is something that I want to introduce with this #61: the ability to theme supporting. I'm not sure if there is some workaround... @bacali95 any idea?

[2022-04-25 08:07] bacali95 commented on #62
Hello there, no there is no workaround for this for now.

[2022-04-26 08:42] dediananto commented on #63
@rluders is it ok to continue on this reported issue? or should I create a new issue for the bug (amount of image less than 4)
I also realize that the last image doesn't change. if we have 4 images, the 3rd image does not change to the 4th image. if we have 5 images, the 4th image doesn't change to the 5th image.

[2022-04-26 09:15] rluders commented on #63
@dediananto it seems a different issue TBH. If you don't mind, can you create another ticker reporting the issue? As much info, you could add to it, the better. :)

[2022-04-26 09:58] dediananto commented on #63
ok, thank you.
so, let this issue be closed :D

[2022-04-26 12:46] tulup-conner commented on #57
I can reproduce this and see it works fine on Firefox as well.

This appears to be an issue with Popper. It generates totally different values for the X offset in `transform: translate()` in Firefox vs Chromium.

I notice that Popper appears to be deprecated in favor of Floating UI. It may be worth upgrading the components to the new version. Popper is over 200 commits behind now. That may result

[2022-04-26 20:46] rluders commented on #57
@tulup-conner do you want to take this one?

[2022-04-26 21:22] tulup-conner commented on #57
I would be happy to give it a try!

[2022-04-27 03:27] dediananto opened #66 "Carousel image not show and random slide"
**Describe the bug**
I found 2 bugs that happen to me.
1. Carousel does not show if I only have images less than 4 (3, 2, or 1)
2. when the Carousel show (with the minimum image is 4) I realize that the order of the images doesn't match with the image order from my code.

**To Reproduce**
first bug:
1. using flowbite-react on NextJS
2. try to create a carousel component with 2 images. is the carou

[2022-04-27 07:14] tulup-conner commented on #57
I should have something soon. For reference, Floating UI created a full example Tooltip, which we can basically copy: https://codesandbox.io/s/winter-tree-wmmffl?file=/src/Tooltip.tsx:910-1058

[2022-04-29 09:41] tulup-conner commented on #53
I'll take this

[2022-04-29 10:17] tulup-conner commented on #9
I'll take this

[2022-04-29 11:24] tulup-conner commented on #9
Should the CTA button on Sidebars really have ARIA `role=alert`? That pulls focus immediately on screen readers, which is aggressive. https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/Roles/alert_role

[2022-04-29 11:30] rluders commented on #9
Can't we make it optional? :)

[2022-04-29 11:31] tulup-conner opened #70 "Examples pages syntax highlighter removes `.` from compound JSX components"
**Describe the bug**
[Compound components](https://kentcdodds.com/blog/compound-components-with-react-hooks) have their `.` separator removed by the syntax highlighter used for example pages.

To be clear, it is still valid to import `ButtonGroup` directly, but the examples pages use `Button.Group`.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://flowbite-react.com/#/button-gro

[2022-04-29 11:32] tulup-conner commented on #70
I didn't even notice this initially, but it looks like it also incorrectly resolves the name of `Button` to `ButtonComponent`.

[2022-04-29 11:33] tulup-conner commented on #9
Sounds good to me! I'm just referring to the defaults on flowbite.com. I don't want to make any decisions on behalf.

[2022-04-29 11:37] rluders commented on #70
Yep. All components sub-components must have the property `displayName` attached.
Here is a good example: https://github.com/themesberg/flowbite-react/blob/d056becd2cd0fde8fd4cb5ecb3b6bcadc10d7b73/src/components/Navbar/index.tsx#L44

[2022-04-29 12:54] tulup-conner commented on #70
I can confirm adding the displayName totally fixes this- so I think we just need to add a displayName to existing components and this should be resolved. I can take that on.

[2022-04-30 09:46] tulup-conner commented on #62
If that's the case, I would like to add `className`s to `Alert`, `Badge`, `Button` as an  escape hatch so users can apply colors themselves.

[2022-04-30 10:59] tulup-conner commented on #34
I'll take this - let me know if you have anything particular in mind

[2022-05-02 04:20] emewjin opened #75 "Default modal in position:fixed element didn't cover full screen"
**Describe the bug**
Hi, I'm trying to use flowbite-react's modal component (I know it is still WIP) and found something odd.
I expected modal will be on top of all html layout, but as you can see in attached img, modal confined in area (the blue area in img) that where modal used. The blue area's css position was `fixed`
![image](https://user-images.githubusercontent.com/76927618/166182614-c72a54

[2022-05-02 05:12] tulup-conner commented on #75
Is there a chance you could provide a code sample? I created the following and it works: https://gist.github.com/tulup-conner/c944b464eebc39b77707513f153e2eda

[2022-05-02 06:13] emewjin commented on #75
@tulup-conner sorry for confusing you, here is [sample](https://github.com/emewjin/flowbite-react-playground/blob/main/src/App.js). I think the cause of this problem is `translate`

[2022-05-02 06:20] bacali95 commented on #75
Hello @emewjin, thanks for reporting this issue, I understood what is the issue and I will take a look.

[2022-05-02 07:14] #75 closed

[2022-05-02 07:25] #57 closed

[2022-05-02 08:42] tulup-conner commented on #34
@rluders Can you close this? I failed to add a resolves note in the PR

[2022-05-02 08:43] tulup-conner commented on #9
@rluders Could you close this one as well, thank you!

[2022-05-02 08:43] #70 closed

[2022-05-02 08:47] #53 closed

[2022-05-02 08:56] tulup-conner commented on #56
This can be closed!

[2022-05-03 02:26] emewjin opened #79 "Create custom style prop or more prop"
**Is your feature request related to a problem? Please describe.**
I add `w-full` class on Button component to use it by full width, but internal class `w-fit` ignore it.
[code]
![image](https://user-images.githubusercontent.com/76927618/166394136-25e4773e-98cf-43e3-a410-9d6be531113a.png)

**Describe the solution you'd like**
maybe 2 option (just suggestion). Also, I think other components will ne

[2022-05-03 02:38] tulup-conner commented on #79
I think there's too many possibilities to add options as unique props, but we definitely need an "escape hatch" to override `className`. As you suggested, `custom`.

After you brought that up on Discord, I found this: https://github.com/richardgill/tailwind-override which I think we can use to add that escape hatch. That would make it so `className` can be provided to each component, and any class

[2022-05-03 02:39] tulup-conner commented on #62
Related issue: #79

[2022-05-03 08:46] #56 closed

[2022-05-03 08:50] #9 closed

[2022-05-03 08:51] #34 closed

[2022-05-03 08:51] rluders commented on #66
Can anyone confirm this bug? @tulup-conner @bacali95 @mouracamila

[2022-05-03 11:10] tulup-conner commented on #47
Working on these now.

[2022-05-03 23:13] emewjin commented on #79
@tulup-conner how about this? https://github.com/ben-rogerson/twin.macro

tailwind-override doesn't seem to be updated anymore

[2022-05-03 23:19] tulup-conner commented on #79
Yeah, tailwind-override isn't the best option for that reason and because it seems to have some outstanding unfixed bugs. They also chose to use regex to parse class names which inflated the bundle size.

Twin brings in a lot of dependencies and unrelated functionality. The dependencies thing is something we really want to avoid.

This isn't really my area of expertise, so I'm doing the same thing

[2022-05-04 06:42] tulup-conner opened #81 "Sidebar: Undefined behavior for items with no icon when collapsed"
**Describe the bug**
When I create a `Sidebar` with items that do not have an icon, and then collapse the `Sidebar`, nothing shows up.

**To Reproduce**
Steps to reproduce the behavior:

1. Create a collapsed `Sidebar`:
[code]

**Expected behavior**
I can't find the expected behavior on flowbite.com, so I guess there isn't one yet?

A few options...

- Abbreviate label to the first letter
- Add a

[2022-05-04 07:10] tulup-conner commented on #35
I think Cypress would be fantastic. The Jest DX is inferior, but tests will take longer. Would the plan be to migrate all tests to Cypress? I'm trying to imagine how you would distinguish unit tests from end-to-end in a library like this.

[2022-05-04 07:16] rluders commented on #35
No, we will not migrate any unit test to Cypress. Both have different proposals.

The plan is to use Cypress + Axe to test the components by interacting with Storybook and the Documentation. By doing it we can also check a11y aspects.

[2022-05-04 07:18] tulup-conner commented on #35
Ok, what would an example Cypress test actually look like then? I'm a bit confused by that explanation. Would you repeat the behavioral tests of the unit tests, just on the Storybook pages?

[2022-05-04 07:23] rluders commented on #35
Let me give you one scenario:

**Test button documentation page**
- Open the documentation page
- Navigate to the carousel page
- Check if it all examples are correctly being rendered
- Check if you can interact with the examples

[2022-05-04 07:26] tulup-conner commented on #35
Yeah that makes perfect sense, you mean to use these purely to test the Storybook/docs pages themselves. I'm silly

[2022-05-04 07:31] rluders commented on #35
'Cause, by doing it, we are also testing our components and it's the desired behavior. Right? :)

[2022-05-04 07:33] rluders opened #82 "Using flowbite-react with React Native"
**Is your feature request related to a problem? Please describe.**
Some users probably would like to use the `react-flowbite` with React Native. We need to check if there is any "catch" in the instalation and to provide some guide, if necessary.

**Describe the solution you'd like**
Document the process to use `react-flowbite` with React Native.

**Describe alternatives you've considered**
Maybe i

[2022-05-04 12:01] rluders commented on #66
I guess that the issue could be related to NextJS + Flowbite React. I tried to reproduce the error without using NextJS and it doesn't happen to me.

[2022-05-04 12:49] bacali95 commented on #66
I couldn't reproduce it as well, @dediananto can you please provide a repo example?

[2022-05-05 00:54] dediananto commented on #66
hai @bacali95 you can use this [repo ](https://github.com/dediananto/flowbite-react-carousel-issue) to reproduce on your local

[2022-05-05 01:05] dediananto commented on #66
I think so, I try regular flowbite + NextJS and the result is the carousel is not shown. with flowbite react, the carousel is shown but have this issue

[2022-05-05 01:08] bacali95 commented on #66
@dediananto i see you are using version 0.0.10 of the library which indeed has the described problem, can you please try to use the latest version and check if it works?

[2022-05-05 01:19] dediananto commented on #66
@bacali95 ah it's because I install 0.0.18 the first time, and get this issue, I try every previous version to make sure this issue happens from the beginning, and now, the latest version is 0.0.20. I can confirm this issue was gone

[2022-05-05 07:02] #66 closed

[2022-05-05 07:04] rluders commented on #66
Since the user confirmed that the issue was gone by updating the library, I'm now closing this issue.

If you feel that this isn't solved feel free to reopen the issue.

[2022-05-05 14:16] #8 closed

[2022-05-05 19:20] #6 closed

[2022-05-05 20:12] rluders commented on #12
@joeychrys do you still interested in working on this one?

[2022-05-06 04:31] joeychrys commented on #12
Hey, sorry. I probably can't get to it until Thursday next week. If this is holding you guys back, then by all means go ahead without me. I will have all the time in the world in like a week because I'll be done with school.

[2022-05-06 06:22] #35 closed

[2022-05-08 17:45] KaiSpencer opened #93 "Don't be dependent on react-router-dom"
**Is your feature request related to a problem? Please describe.**
Im attempting to use the sidebar component, but useLocation is called internally to the component from react router. Additionally the react router Link component is used in each sidebar item.

**Describe the solution you'd like**
Ability to pass the current path directly to the component, potentially via the SidebarComponent contex

[2022-05-08 18:56] rluders commented on #93
Hi @KaiSpencer,

Thanks for opening the issue. May I ask you for some more information? What is the goal here? I don't get it, maybe @tulup-conner  could help us here, since he is heavily working on the Sidebar component.

[2022-05-08 18:59] KaiSpencer commented on #93
Hi @rluders

Sure thing, the sidebar requires react-router, it uses a hook to determine the url and the Link component to handle navigation. This isn't something that every react application wants by default. I think client side routing should be opt in for the component

In my scenario I use Nextjs with its own router and don't want to have to switch to client side routing just to use this compon

[2022-05-08 19:07] rluders commented on #93
@KaiSpencer all right... I think that I got it., but please correct me if I'm wrong.

The overall idea is to allow the sidebar component to receive a "router adapter" to use internally to generate the links. So the user can easily replace it in order to use the router that best fits his application.

Something like this? It sounds like a good idea IMHO.

[2022-05-08 19:14] KaiSpencer commented on #93
@rluders Yeah, it could be as simple as optionally passing an override to the Link component. And rather than using react-router useLocation, use window.href.pathname instead for the current route.

[2022-05-08 22:36] tulup-conner commented on #93
Yea I agree completely. It's already being used in another component so I added it thinking that was the intended way to go.

I didn't think about the fact that react-router in Next takes on the role of client side routing. That is definitely not desirable. I'm spoiled by Remix.

[2022-05-09 07:07] rluders commented on #93
OK. So, I guess that we agree that remove the `react-router` and to add the flexibility to use others routers librabries is something that we want.

@KaiSpencer if you want to go ahead and submit a PR implementing this feature we gonna be happy to review it and accept.

[2022-05-09 10:03] tulup-conner commented on #47
This can be closed!

[2022-05-09 12:01] tulup-conner commented on #41
I'll take this

[2022-05-09 12:02] tulup-conner commented on #44
I'll take this

[2022-05-09 13:38] #93 closed

[2022-05-09 18:09] tulup-conner commented on #52
Can be closed

[2022-05-09 20:51] #52 closed

[2022-05-10 09:44] #44 closed

[2022-05-10 11:18] #43 closed

[2022-05-10 11:23] tulup-conner commented on #46
Assign me pls

[2022-05-10 11:23] tulup-conner commented on #45
Assign me pls

[2022-05-10 11:23] tulup-conner commented on #39
Assign me pls

[2022-05-10 12:23] #39 closed

[2022-05-10 12:24] #45 closed

[2022-05-10 12:25] #41 closed

[2022-05-10 12:52] tulup-conner opened #102 "Breadcrumb items with no link have insufficient color contrast"
**Describe the bug**
The final item in a `Breadcrumb` is given `text-gray-400`, which is not accessible on the standard white background. The same goes for the dark mode, which uses `text-gray-500`.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a `Breadcrumb`
2. Observe the contrast ratio of the final item

**Expected behavior**
This item should pass WCAG 2.1 AA, which designates a

[2022-05-10 13:28] tulup-conner commented on #51
Ill take this

[2022-05-10 13:28] tulup-conner commented on #50
Ill take this

[2022-05-10 13:28] tulup-conner commented on #60
Ill take this

[2022-05-11 04:31] tulup-conner opened #104 "Spinners do not have an accessible name"
**Describe the bug**
`Spinner`s are an `<svg>` with `role="status"`, but they do not have an accessible label.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a `<Spinner />`
2. Observe that screen reader skips over it, or notifies of a status, but with no explanation as to what it is

**Expected behavior**
Examples should contain an accessible name.

@rluders @bacali95 Users might wa

[2022-05-11 05:53] tulup-conner opened #106 "DarkThemeToggle does not have accessible name"
**Describe the bug**
The `<DarkThemeToggle />` has no accessible name, which means screen readers read it simply as, "Button", with no context.

**To Reproduce**
Steps to reproduce the behavior:
1. Add a `<DarkThemeToggle />` to your page
2. Focus the button in a screen reader

**Expected behavior**
An accessible name should be read aloud, like, "Toggle dark mode".

Alternatively, the button can b

[2022-05-11 06:09] tulup-conner commented on #38
I'll take these

[2022-05-11 06:41] #50 closed

[2022-05-11 06:41] #106 closed

[2022-05-11 06:54] #51 closed

[2022-05-11 06:54] #104 closed

[2022-05-11 07:36] #46 closed

[2022-05-11 07:41] tulup-conner opened #108 "Unit tests for helpers"
- [x] `mergeDeep`
- [x] `range`
- [x] Remove export for helpers, since they aren't needed by library users

Also, it looks like `getImageUrl` is being exported to the library, but it is only used on the docs. Can we remove that or am I missing something? @bacali95

Please self assign me this

[2022-05-11 07:43] bacali95 commented on #108
Yes we can move that out of the library

[2022-05-12 06:29] tulup-conner commented on #49
Ill take this

[2022-05-12 06:30] tulup-conner commented on #40
Ill take this

[2022-05-12 06:57] tulup-conner commented on #60
@bacali95 I yet again forgot to include a tag on this issue lol, can you close it for me

[2022-05-12 07:03] #60 closed

[2022-05-12 08:44] tulup-conner opened #110 "`Carousel` scroll snap does not change slides on Firefox"
**Describe the bug**
On Firefox, dragging a `Carousel` left or right does not "snap" the `Carousel` to the next (dragging left) or previous (dragging right) slide. Instead, you partially scroll however far you dragged.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a `Carousel` with at least two images
2. Attempt to drag horizontally to change slides on Firefox

**Expected behavior**

[2022-05-12 08:47] tulup-conner commented on #110
I've also noticed that Carousels move vertically when you drag on mobile, if your drag isn't perfectly horizontal, which is a weird user experience. Movement in the Y plane should be ignored.

[2022-05-12 09:19] rluders commented on #54
I think that we don't need it. 'Cause now it is related this component: https://flowbite-react.com/theme

What do you folks think? @mouracamila @bacali95 @tulup-conner

[2022-05-12 09:30] tulup-conner commented on #54
I agree, and there should be an example DarkThemeToggle added to the Theme page IMO

[2022-05-12 12:34] rluders commented on #54
@tulup-conner it is there already. So... are we good here?

[2022-05-12 21:59] tulup-conner commented on #54
Am I missing something? I don't see one anywhere except the header.

[2022-05-13 02:15] tulup-conner commented on #37
I'll do these

[2022-05-13 02:40] tulup-conner commented on #42
@k2glyph Are you still working on this? Happy to take over

[2022-05-13 03:50] tulup-conner commented on #62
This should be resolved once theme support is added #92. I'll retroactively add an example of how to accomplish the above example.

[2022-05-13 03:54] tulup-conner opened #114 "Unit tests for Tabs"
Please assign me this

[2022-05-13 05:36] #108 closed

[2022-05-13 05:38] #40 closed

[2022-05-13 05:40] #37 closed

[2022-05-13 05:43] bacali95 commented on #54
@tulup-conner check here https://github.com/themesberg/flowbite-react/blob/main/src/docs/pages/ThemePage.tsx

[2022-05-13 06:23] tulup-conner opened #115 "`Tabs` should have keyboard controls"
Tabs should have keyboard controls, like those mentioned here: https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/Roles/tab_role#example

Namely, arrow keys to move left and right, and enter to select a tab.

[2022-05-13 11:19] tulup-conner opened #117 "Unit tests for `Footer`"

[2022-05-13 11:29] #114 closed

[2022-05-13 11:29] #115 closed

[2022-05-13 13:37] mouracamila commented on #82
I did some research in the community, and it's not possible to take a React lib and use it in react-native code. Also, I did some tests here in which I created a react-native app, and add the flowbite-react inside the project.  It's don't works.
So, I believe it would be interesting to create a flowbit-react-native lib.
Anyway, I'm open to discussion about this :)

[2022-05-14 11:36] k2glyph commented on #42
no @tulup-conner. You can work on this.

[2022-05-15 20:07] #36 closed

[2022-05-16 09:19] #48 closed

[2022-05-16 09:26] mouracamila commented on #82
if it has the FlowBite interest,  I would be happy to start working on this task.
What do you think @rluders @bacali95 @tulup-conner  @zoltanszogyenyi ?

[2022-05-16 15:47] ferretwithaberet opened #123 "Some components cannot be used with Next's SSR"
**Describe the bug**
I noticed this bug while trying to use the `Modal` component in a Next.js project. The error I am getting is `document is not defined`. I dug up a bit and I found out that the `Modal` component uses `document.body` as the default value for the `root` param and it also uses `document.createElement` to create it's container which it tries to append to `root`. The bug comes from

[2022-05-17 05:17] #123 closed

[2022-05-17 09:17] rluders commented on #82
I think that it is a good idea, @mouracamila. If you could start a repository would be great.

[2022-05-17 09:18] #54 closed

[2022-05-17 09:30] rluders opened #125 "Theme: Accordion component"
**Is your feature request related to a problem? Please describe.**

Improve the theme support to the component (and subcomponents).

**Describe the solution you'd like**
- All default styles must be moved to the default theme;

**Describe alternatives you've considered**
n/a

**Additional context**
n/a

[2022-05-17 09:31] rluders opened #126 "Theme: Alert component"
**Is your feature request related to a problem? Please describe.**
Improve the theme support to the component (and subcomponents).

**Describe the solution you'd like**
- All default styles must be moved to the default theme;

**Describe alternatives you've considered**
n/a

**Additional context**
n/a

[2022-05-17 09:32] rluders opened #127 "Theme: Avatar component"
**Is your feature request related to a problem? Please describe.**
Improve the theme support to the component (and subcomponents).

**Describe the solution you'd like**
- All default styles must be moved to the default theme;

**Describe alternatives you've considered**
n/a

**Additional context**
n/a

[2022-05-17 09:33] tulup-conner commented on #126
@rluders I'll start with Alert, Avatar and Breadcrumb

[2022-05-17 09:38] rluders opened #128 "Theme: Badge component"
**Is your feature request related to a problem? Please describe.**
Improve the theme support to the component (and subcomponents).

**Describe the solution you'd like**
- All default styles must be moved to the default theme;

**Describe alternatives you've considered**
n/a

**Additional context**
n/a

[2022-05-17 09:39] rluders opened #129 "Theme: Breadcrumb component"
**Is your feature request related to a problem? Please describe.**
Improve the theme support to the component (and subcomponents).

**Describe the solution you'd like**
- All default styles must be moved to the default theme;

**Describe alternatives you've considered**
n/a

**Additional context**
n/a

[2022-05-17 09:39] rluders opened #130 "Theme: Button component"
**Is your feature request related to a problem? Please describe.**
Improve the theme support to the component (and subcomponents).

**Describe the solution you'd like**
- All default styles must be moved to the default theme;

**Describe alternatives you've considered**
n/a

**Additional context**
n/a

[2022-05-17 09:40] rluders opened #131 "Theme: Card component"
**Is your feature request related to a problem? Please describe.**
Improve the theme support to the component (and subcomponents).

**Describe the solution you'd like**
- All default styles must be moved to the default theme;

**Describe alternatives you've considered**
n/a

**Additional context**
n/a

[2022-05-17 09:40] rluders opened #132 "Theme: Carousel component"
**Is your feature request related to a problem? Please describe.**
Improve the theme support to the component (and subcomponents).

**Describe the solution you'd like**
- All default styles must be moved to the default theme;

**Describe alternatives you've considered**
n/a

**Additional context**
n/a

[2022-05-17 09:40] rluders opened #133 "Theme: DarkThemeToggle component"
**Is your feature request related to a problem? Please describe.**
Improve the theme support to the component (and subcomponents).

**Describe the solution you'd like**
- All default styles must be moved to the default theme;

**Describe alternatives you've considered**
n/a

**Additional context**
n/a

[2022-05-17 09:41] rluders opened #134 "Theme: Dropdown component"
**Is your feature request related to a problem? Please describe.**
Improve the theme support to the component (and subcomponents).

**Describe the solution you'd like**
- All default styles must be moved to the default theme;

**Describe alternatives you've considered**
n/a

**Additional context**
n/a

[2022-05-17 09:41] rluders opened #135 "Theme: Footer component"
**Is your feature request related to a problem? Please describe.**
Improve the theme support to the component (and subcomponents).

**Describe the solution you'd like**
- All default styles must be moved to the default theme;

**Describe alternatives you've considered**
n/a

**Additional context**
n/a

[2022-05-17 09:41] rluders opened #136 "Theme: FormControls components"
**Is your feature request related to a problem? Please describe.**
Improve the theme support to the component (and subcomponents).

- [x] Checkbox #229
- [x] FileInput #246
- [x] Label #227
- [x] Radio #228
- [X] Select #249
- [X] Textarea #247
- [x] TextInput #246
- [x] ToggleSwitch #231
- [x] :new: HelperText #230

**Describe the solution you'd like**
- All default styles must be moved to the de

[2022-05-17 09:42] rluders opened #137 "Theme: ListGroup component"
**Is your feature request related to a problem? Please describe.**
Improve the theme support to the component (and subcomponents).

**Describe the solution you'd like**
- All default styles must be moved to the default theme;

**Describe alternatives you've considered**
n/a

**Additional context**
n/a

[2022-05-17 09:42] rluders opened #138 "Theme: Modal component"
**Is your feature request related to a problem? Please describe.**
Improve the theme support to the component (and subcomponents).

**Describe the solution you'd like**
- All default styles must be moved to the default theme;

**Describe alternatives you've considered**
n/a

**Additional context**
n/a

[2022-05-17 09:42] rluders opened #139 "Theme: Navbar component"
**Is your feature request related to a problem? Please describe.**
Improve the theme support to the component (and subcomponents).

**Describe the solution you'd like**
- All default styles must be moved to the default theme;

**Describe alternatives you've considered**
n/a

**Additional context**
n/a

[2022-05-17 09:42] rluders opened #140 "Theme: Pagination component"
**Is your feature request related to a problem? Please describe.**
Improve the theme support to the component (and subcomponents).

**Describe the solution you'd like**
- All default styles must be moved to the default theme;

**Describe alternatives you've considered**
n/a

**Additional context**
n/a

[2022-05-17 09:43] rluders opened #141 "Theme: Progress component"
**Is your feature request related to a problem? Please describe.**
Improve the theme support to the component (and subcomponents).

**Describe the solution you'd like**
- All default styles must be moved to the default theme;

**Describe alternatives you've considered**
n/a

**Additional context**
n/a

[2022-05-17 09:43] rluders opened #142 "Theme: Rating component"
**Is your feature request related to a problem? Please describe.**
Improve the theme support to the component (and subcomponents).

**Describe the solution you'd like**
- All default styles must be moved to the default theme;

**Describe alternatives you've considered**
n/a

**Additional context**
n/a

[2022-05-17 09:43] rluders opened #143 "Theme: Sidebar component"
**Is your feature request related to a problem? Please describe.**
Improve the theme support to the component (and subcomponents).

**Describe the solution you'd like**
- All default styles must be moved to the default theme;

**Describe alternatives you've considered**
n/a

**Additional context**
n/a

[2022-05-17 09:43] rluders opened #144 "Theme: Spinner component"
**Is your feature request related to a problem? Please describe.**
Improve the theme support to the component (and subcomponents).

**Describe the solution you'd like**
- All default styles must be moved to the default theme;

**Describe alternatives you've considered**
n/a

**Additional context**
n/a

[2022-05-17 09:44] rluders opened #145 "Theme: Tab component"
**Is your feature request related to a problem? Please describe.**
Improve the theme support to the component (and subcomponents).

**Describe the solution you'd like**
- All default styles must be moved to the default theme;

**Describe alternatives you've considered**
n/a

**Additional context**
n/a

[2022-05-17 09:44] rluders opened #146 "Theme: Toast component"
**Is your feature request related to a problem? Please describe.**
Improve the theme support to the component (and subcomponents).

**Describe the solution you'd like**
- All default styles must be moved to the default theme;

**Describe alternatives you've considered**
n/a

**Additional context**
n/a

[2022-05-17 09:44] rluders opened #147 "Theme: Tooltip component"
**Is your feature request related to a problem? Please describe.**
Improve the theme support to the component (and subcomponents).

**Describe the solution you'd like**
- All default styles must be moved to the default theme;

**Describe alternatives you've considered**
n/a

**Additional context**
n/a

[2022-05-17 11:38] #38 closed

[2022-05-18 03:38] tulup-conner commented on #49
I'm going to need help with this issue. For some reason, when I render a `Carousel` in jest, it sets the `activeItem` to `NaN`, and I can't interact with the carousel to run any meaningful tests. It would be nice if someone else could try and pick this up, since I imagine I'm missing something obvious

[2022-05-18 06:06] rluders commented on #49
@tulup-conner do we have a WIP PR for this one?

[2022-05-18 09:57] tulup-conner commented on #49
@rluders I never made one, no. My branch for this was just a spec file with one test, which the gist for that should still be in Discord

[2022-05-19 22:26] xiaolin911211 opened #149 "Issue with this library"
Getting this error now:
SyntaxError: Unexpected token 'export'
With the following codes that i follow in https://github.com/themesberg/flowbite-react.

[code]
[code]

[2022-05-19 22:28] tulup-conner commented on #149
Hey there, if you are importing from `flowbite/src/components/modal`, you are using `flowbite`, not `flowbite-react`. You will need to change your import to something like this:

[code]

[2022-05-19 22:29] xiaolin911211 commented on #149
When i do this is back to the old issue again ReferenceError: document is not defined

[2022-05-19 22:31] xiaolin911211 commented on #149
Did anyone actually test this with NextJS or is there a sample project i can download using NextJS with this library?

[2022-05-19 22:35] Siumauricio commented on #149
You can import the component using Dynamic imports https://stackoverflow.com/questions/53139884/next-js-disable-server-side-rendering-on-some-pages

Using this you will rendering the component in the client side

[2022-05-19 22:36] tulup-conner commented on #149
Yea, I haven't gotten around to completing it yet unfortunately.

With that said, the issue you are having should be resolved in the latest version of the software. The issue you are having is related to https://github.com/themesberg/flowbite-react/pull/124.

I just checked and, unfortunately, a release hasn't actually been produced for it yet on npm.

If you want to use it in the meantime, you sh

[2022-05-20 23:26] tulup-conner commented on #149
Hey @xiaolin911211, I just created a Next.js starter app that you can use as a baseline for your app: https://github.com/tulup-conner/flowbite-next-starter

All of the components work, save Breadcrumb. I found a bug with that that is not Next.js related - should be fixed soon.

[2022-05-22 18:52] #126 closed

[2022-05-22 20:33] tulup-conner commented on #128
Give me this one

[2022-05-22 20:33] tulup-conner commented on #127
I'll take this one

[2022-05-22 20:35] tulup-conner commented on #129
I'll take this as well

[2022-05-23 07:01] julianYaman commented on #110
I also encountered this bug on Safari. Cannot use the control buttons, but dragging to left and right worked. Using next.js as my web framework.

[2022-05-23 07:10] rluders commented on #149
@xiaolin911211 did the sample repository and the last release help with this issue? Can we close it?

[2022-05-23 07:19] rluders opened #152 "Move docs to a separated project inside the repository"
I still not happy with the fact that the docs are inside the `src` folder. It always drive me crazy, 'cause it isn't part of the librabry. So we should move it to a separated react application inside our repository, and it will also works as an example.

**Describe the solution you'd like**
- Inside the repository create a new react project on project root `/docs` folder
- Link the dependencies to

[2022-05-23 07:37] rluders commented on #110
@julianYaman I guess that we can keep in the same one. I don't have Safari to test it, so... probably someone else will have to test it.

[2022-05-23 07:48] julianYaman commented on #110
@rluders Alright. Also noticed that the slideInterval didn't work as well. Only dragging atm.

[2022-05-23 08:24] rluders commented on #81
@tulup-conner I like the idea of having the `collapseBehavior`. IMO, if there is no icon set, the sidebar should be hidden.

[2022-05-23 08:54] tulup-conner commented on #110
Ill test that and update this

[2022-05-24 09:37] tulup-conner commented on #81
Cool, I can add this to my todo

[2022-05-24 20:15] tulup-conner commented on #110
Hmm... For me, macOS Safari only has one bug, which is that transitions are instant. I can operate the carousels using any of the controls, including scroll snapping.

[2022-05-25 12:54] rowlandekemezie commented on #149
Thanks for this @tulup-conner. Maybe we should add this example of example folder in the repository. Did you get the `DarkThemeToggle` working as well?

[2022-05-26 00:33] xiaolin911211 commented on #149
Thank you so much, is working for me

[2022-05-26 00:33] #149 closed

[2022-05-26 00:51] tulup-conner commented on #130
Gimme this

[2022-05-26 00:51] tulup-conner commented on #131
Will do this one as well

[2022-05-26 06:12] #127 closed

[2022-05-26 07:15] tulup-conner commented on #125
@rluders Is this done or would you like me to do more? We could move the `flush` on/off classes to the theme as well.

[2022-05-26 10:49] tulup-conner commented on #62
With #151 we have implemented the first component with theme support that specifically includes the ability to add your own colors.

I will be adding this to buttons this week and will close this with that PR.

[2022-05-26 10:50] tulup-conner commented on #12
This can be closed now

[2022-05-26 10:54] tulup-conner commented on #79
Following up, we are starting to complete theme support for components now; see #153, #155, #156.

Note: The API is unstable (almost certain to change in some details before "done")

[2022-05-26 12:48] rluders commented on #125
@tulup-conner I think that still some things missing to be done. I just started this one as an example, didn't finished at all. The ideal scenario must have all style living on theme.

[2022-05-26 12:49] #128 closed

[2022-05-26 20:28] tulup-conner commented on #125
Cool, in that case, I'll wrap it up

[2022-05-26 21:05] #12 closed

[2022-05-26 21:06] #62 closed

[2022-05-27 02:07] tulup-conner opened #159 "`Accordion`s should only keep active item open by default"
**Describe the bug**
By default, `Accordion`s should close any `Accordion.Panel`s that are not the most recently clicked (*active*). See the Flowbite Accordion docs.

**To Reproduce**
Steps to reproduce the behavior:
1. View an Accordion
2. Click any other element than the initially active element
3. Observe that both items are still open (the initially active should have closed now)

**Expected b

[2022-05-27 10:13] tulup-conner commented on #144
I need custom colors on spinners so I'll take this one next

[2022-05-27 10:14] tulup-conner commented on #79
See #160, it's in draft right now.

[2022-05-27 12:54] #125 closed

[2022-05-28 14:21] emewjin commented on #79
So cool !!
If I want to use Button w-full in specific component, Is this what I should be doing?
[code]
or should like this?
[code]

[2022-05-28 14:26] #131 closed

[2022-05-28 14:28] rluders commented on #79
@emewjin the second option. 'Cause you will always complete overwrite the style that you are customizing on your own theme.

[2022-05-28 22:58] tulup-conner commented on #79
We should document that behavior for sure ^

[2022-05-29 01:37] tulup-conner commented on #159
To the end of what to name the prop, I just deferred to the Flowbite docs which defines the example as `Always open`, so... prop name is `alwaysOpen`!

[2022-05-29 07:59] rluders commented on #159
@tulup-conner I was reading your code on accordion, and I noticed that you changed the variable `isOpen` to `open` it is not a good practice.

Read this:
https://dev.to/michi/tips-on-naming-boolean-variables-cleaner-code-35ig

[2022-05-29 08:11] tulup-conner commented on #159
@rluders I responded in the other place you mentioned this

[2022-05-29 08:38] #144 closed

[2022-05-30 05:11] farasjibran opened #164 "Module parse failed: Unexpected token (22:19)"
I have issue when using this flowbite react in my react app, they throw error like this screenshot bellow

![image](https://user-images.githubusercontent.com/50952131/170921080-e8261db8-967f-4eff-a7d5-8259fee7883f.png)

can you please help this issue?

[2022-05-30 05:25] tulup-conner commented on #164
Well, it looks like the issue is that you are compiling to an old version of ES that doesnt support ?? https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/Nullish_coalescing_operator

Im not entirely sure what the library can do about this.

[2022-05-30 11:23] zoltanszogyenyi opened #165 "Incorporate the original documentation layout from the main library"
**Is your feature request related to a problem? Please describe.**

I have already mentioned this in the Discord channel, the idea is to use the same documentation layout across the main library and the React one. This will help the community migrate faster from one library to another as they are already used to the two sidebar and main content area.

This will also help us write texts and make th

[2022-05-30 11:25] zoltanszogyenyi opened #166 "Update logo & primary color"
**Is your feature request related to a problem? Please describe.**

We have created a new logo for Flowbite React and I suggest we also change the current blue color to the hex `#61dafb` with `text-gray-700` for the text color.

**Describe the solution you'd like**

Update the logo everywhere (including GitHub and the docs) and also the OG image based on what I have shared. The primary color can a

[2022-05-30 11:28] zoltanszogyenyi opened #167 "SEO titles, h1's and p's and meta tags"
**Is your feature request related to a problem? Please describe.**

If we want this library to go mainstream we'll need to properly target some keywords in the right context.

**Describe the solution you'd like**

I suggest we target keywords like this:

"React Button - Flowbite"
"React Modal - Flowbite"
"React Navbar - Flowbite"

We also need a meta description of up to 160 characters, the `<titl

[2022-05-30 13:41] loicy opened #168 "Carousel : cant modify height"
**Describe the bug**
It is not possible to change the height of the carousels. Changing the width works correctly.

**To Reproduce**
Put a carousel in any div and change the size with a class in that div to h-32 (for example).

**Expected behavior**
The carousel should take the size allocated in the class of the div.

**Screenshots**

![Sans titre-3](https://user-images.githubusercontent.com/36493

[2022-05-30 13:50] zoltanszogyenyi commented on #102
@robert1508 can you please take a look at this?

[2022-05-30 13:51] rluders commented on #168
The issue seems to be caused by the element that has `h-56` class added to it.

[2022-05-30 13:54] robert1508 commented on #102
Sure, I will check and fix this issue.

[2022-05-30 13:56] zoltanszogyenyi commented on #102
@tulup-conner @rluders @robert1508

After talking with Robert, we should settle on the following classes:

`text-gray-500` for the light version and `dark:text-gray-400` for the dark version.

[2022-05-31 07:05] tulup-conner commented on #168
I will add theming for Carousels next so we can fix this for ya.

[2022-05-31 07:05] tulup-conner commented on #132
Assign me this

[2022-06-02 07:55] rluders commented on #168
@tulup-conner theme support will not fix the bug completely. Since, you can have multiple carousels, each with different sizes. We need to allow the carousel to "fit" to the parent div size, so it will allow the users to use it in multiple sizes.

[2022-06-02 08:08] rluders opened #173 "Allow Label to use value & children"
I would like to use `Label` component as self-closing tags, to reduce my code verbosity.

**Describe the solution you'd like**
Label should accept both formats:

[code]
and
[code]

**Describe alternatives you've considered**
n/a

**Additional context**
n/a

[2022-06-02 10:08] mouracamila opened #174 "Improve the welcome page in the storybook"
**Is your feature request related to a problem? Please describe.**
Currently the storybook page has the default page
![image](https://user-images.githubusercontent.com/41678283/171604625-ba8937dc-a505-46e4-883c-372314e0bf05.png)

**Describe the solution you'd like**
I think it would be nice add some information like:
-  About
-  Explaining how the flowbite storybook works
-  Link to the official d

[2022-06-02 13:18] #132 closed

[2022-06-02 16:22] rluders opened #175 "Simplify the usage of spinner inside the Button component"
**Is your feature request related to a problem? Please describe.**

Currently in order to have a `Spinner` inside a `Button` to indicate processing we need to manually build all the logic. Lets make it something present inside the component.

**Describe the solution you'd like**

Some ideas:

[code]

**Describe alternatives you've considered**
n/a

**Additional context**
n/a

[2022-06-02 16:29] rluders opened #176 "Textarea and TextInput with isFocus"
**Is your feature request related to a problem? Please describe.**

It is very useful if we could define the user focus to `TextInput` and `Textarea`.

**Describe the solution you'd like**
Adding an extra props to the component interface:
[code]

And then make it active when loaded:
[code]

**Describe alternatives you've considered**
n/a

**Additional context**
Maybe it is necessary to validate th

[2022-06-02 19:34] mouracamila opened #178 "Accessibility: component progress have not sufficient color contrast"
**Describe the bug**
In the storybook there is an "incomplete" message regarding the background
color of the progress component, this happens in the dark an d the light mode

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Storybook
2. Click on Progress/Sizes
3. Scroll down and click on the Accessibility option
4. See error

**Expected behavior**
Elements must have sufficient color cont

[2022-06-03 08:38] #130 closed

[2022-06-04 15:12] rluders opened #186 "Component: Datapicker"
**Is your feature request related to a problem? Please describe.**

We need to implement the Flowbite Datapicker component.
https://flowbite.com/docs/plugins/datepicker/

**Describe the solution you'd like**

The component should be exactly has described in the Flowbite core documentation.

**Describe alternatives you've considered**

PR must have:
- Component (w/ Theme support)
- Storybook
- Docu

[2022-06-04 15:16] rluders opened #187 "Component: Search bar"
**Is your feature request related to a problem? Please describe.**

We need to implement the Search bar component as described in the main library.
https://flowbite.com/docs/forms/search-input/

**Describe the solution you'd like**
- [ ] Component (w/ Theme support)
- [ ] Storybook
- [ ] Documentation
- [ ] Unit test

**Describe alternatives you've considered**
n/a

**Additional context**
n/a

[2022-06-04 15:19] rluders opened #188 "Component: Range slider"
**Is your feature request related to a problem? Please describe.**

We need to implement the Range slider component as described in the core library.
https://flowbite.com/docs/forms/range/

**Describe the solution you'd like**

PR must have:
- Component (w/ Theme support)
- Storybook
- Documentation
- Unit test

**Describe alternatives you've considered**
n/a

**Additional context**
n/a

[2022-06-04 15:21] rluders opened #189 "[components] Floating Label"
**Is your feature request related to a problem? Please describe.**

We need to implement the Floating Label component as described in the core library.
https://flowbite.com/docs/forms/floating-label/

**Describe the solution you'd like**

PR must have:
- Component (w/ Theme support)
- Storybook
- Documentation
- Unit test

**Describe alternatives you've considered**
n/a

**Additional context**
n/a

[2022-06-04 15:58] rluders opened #190 "Improve Ratting component"
**Is your feature request related to a problem? Please describe.**

I noticed that the Rating component has some space to improvement.

**Describe the solution you'd like**
TBA

**Describe alternatives you've considered**
TBA

**Additional context**
TBA

[2022-06-04 20:26] rluders opened #193 "Improve Pagination component"
**Is your feature request related to a problem? Please describe.**

I noticed that the Pagination component has some space to improvement.

**Describe the solution you'd like**
TBA

**Describe alternatives you've considered**
TBA

**Additional context**
TBA

[2022-06-05 13:15] #142 closed

[2022-06-05 13:19] #146 closed

[2022-06-05 13:28] rluders opened #196 "Development: Fix annoying error when `yarn watch`"
**Describe the bug**

When I'm running the `watch` or `dev` on my machine I'm getting this error:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Clone the repository
2. Install the dependencies
3. Execute: `yarn watch`
4. See error

**Expected behavior**
It should not have any error when running the command `dev` or `watch`.

**Screenshots**
n/a

**Desktop (please complete the follo

[2022-06-05 17:48] #140 closed

[2022-06-05 22:02] #138 closed

[2022-06-05 22:02] #147 closed

[2022-06-06 07:33] #133 closed

[2022-06-06 22:41] tulup-conner commented on #168
Ok, this isn't how it is written in the regular Flowbite component, but I decided to change `h-56 sm:h-64 xl:h-80 2xl:h-96` to `min-height`s, then moved those rules to `theme.carousel.base`.

Now, users can wrap their `Carousel` in a `div` with a specific height and it will respect that height. Otherwise, it will use the default heights specified by Flowbite.

See #208

[2022-06-08 00:37] davemooreuws opened #211 "Cannot forward ref to TextInput component"
**Describe the bug**
I am trying to use the [headlessui combobox component](https://headlessui.dev/react/combobox), which allows you to use an `as` prop to render a differerent input. If I use flowbites TextInput this does not work, even with a forwardRef.

**To Reproduce**
I have created a sandbox demonstrating the issue and a solution.

https://codesandbox.io/s/flowbite-input-forward-ref-pvtg1m

[2022-06-08 07:42] #173 closed

[2022-06-08 07:43] #102 closed

[2022-06-08 07:44] #137 closed

[2022-06-08 07:49] #168 closed

[2022-06-08 08:44] #143 closed

[2022-06-08 08:46] #211 closed

[2022-06-08 23:43] julianYaman opened #214 "Allow sizing of Pagination Buttons"
**Is your feature request related to a problem? Please describe.**
I would like to have a Button group of *small* buttons in the same row as the Pagination component.
But that's not really the issue. I just would like them to have the same size (small in this case).

**Describe the solution you'd like**
Add an attribute to allow for sizing of the Pagination component buttons

**Describe alternativ

[2022-06-09 01:01] sgehrman opened #215 "Tooltip wraps the contents with 'w-fit' which messes up my layout"
<Tooltip> does this => <div class="w-fit" data-testid="tooltip-target">

The tooltip shouldn't do anything to change the layout.

[2022-06-09 02:56] sgehrman commented on #215
I see it's fixed in main.  I'm trying to build a local copy...

I can't even npm i on your code without --force.

update your packages.

 @floating-ui/react-dom                  ^0.6.3  →    ^0.7.1
 @floating-ui/react-dom-interactions     ^0.4.0  →    ^0.6.3
 react-icons                             ^4.3.1  →    ^4.4.0
 @babel/core                            ^7.17.9  →   ^7.18.2
 @commitlint/cli

[2022-06-09 02:59] tulup-conner commented on #215
Well, you should be using yarn with this project not npm, which will resolve your issue. But yeah, they need to updated regardless.

[2022-06-09 02:59] tulup-conner commented on #215
Also, I don't see anything in your original comment, it just says, like this, and points to nothing

[2022-06-09 06:09] rluders commented on #214
It is already possible, if I'm not wrong. The buttons doesn't have defined sizes by default, they will fit to the parent size. It means that, if you do something like:

[code]
It should limit the size of the buttons.

[2022-06-09 06:16] rluders commented on #215
Hey @sgehrman.

I'll recommend you to check [this discussion](https://github.com/themesberg/flowbite-react/discussions/213).

[2022-06-11 15:00] LintaoAmons opened #218 "Document error"
It seems like the `TextInput` didn't render successfully

![image](https://user-images.githubusercontent.com/95092244/173193157-b0e19648-df38-4500-9656-a1b3f557e3e8.png)

https://flowbite-react.com/forms

[2022-06-13 08:50] davemooreuws commented on #218
@LintaoAmons I have added the display name in the linked PR.
Thank you for the report.

[2022-06-13 08:58] #218 closed

[2022-06-13 13:41] rluders opened #220 "Improve Tab component"
**Is your feature request related to a problem? Please describe.**

I noticed that the Tab component has some space to improvement.

**Describe the solution you'd like**
TBA

**Describe alternatives you've considered**
TBA

**Additional context**
TBA

[2022-06-13 13:42] rluders commented on #214
@julianYaman does it help?

[2022-06-13 13:53] rluders opened #221 "Remove CRA from the repository"
**Is your feature request related to a problem? Please describe.**

We need to remove the CRA from the library. It does a lot of unnecessary magic. This task is must to be done after the #152.

**Describe the solution you'd like**
TBA

**Describe alternatives you've considered**
TBA

**Additional context**
TBA

[2022-06-13 19:50] indicozy opened #223 "404 Error on flowbite-react.com/carousel (or any other page)"
**Describe the bug**
Hi everyone! When I enter page from / path everything works fine until there came some quick flash and now every page shows 404 Error

**To Reproduce**
1. Go directly to 'flowbite-react.com/carousel'
2. See error

**Expected behavior**
No error

**Screenshots**
![image](https://user-images.githubusercontent.com/51142471/173433136-99223e2d-e238-47d3-8582-a44c5aab7ef5.png)
![ima

[2022-06-13 19:55] rluders commented on #223
@indicozy I guess it is your internet provider or it was a short outrage somewhere. It doesn't happen here, the DNS is resolving correctly and the website is open without any issues.

[2022-06-13 20:06] tulup-conner commented on #223
Had you ever visited the site before? I'm thinking that maybe you visited before all of the routes were changed a few weeks ago, and upon arrival, your cached version of the SPA was very confused.

[2022-06-13 20:11] tulup-conner opened #224 "Carousel examples are broken"
**Describe the bug**
[The Carousel examples page](https://flowbite-react.com/carousel) is supposed to showcase the `Carousel` component. Currently, they are invisible.

**Expected behavior**
You should be able to see each of the examples.

**Screenshots**
![image](https://user-images.githubusercontent.com/96850726/173436461-9e012f99-7778-44a5-a229-e6d738fc28e1.png)

**Additional context**
To fix t

[2022-06-13 20:12] rluders opened #225 "Carousel isn't working correctly"
**Describe the bug**

Carousel `min-height` is wrong. We have:
[code]
But tailwind doesn't have `min-height` for set values.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to [flowbite-react.com/carousel](https://flowbite-react.com/carousel)
2. See error

**Expected behavior**
We should have valid `min-height` values to the carousel.

**Screenshots**
n/a

**Additional context**
[n/a](ht

[2022-06-13 20:13] rluders commented on #225
Duplicated with https://github.com/themesberg/flowbite-react/issues/224

[2022-06-14 07:39] rluders commented on #152
@davemooreuws what I want to do with this task is something very similar to it. I also want to make it a monorepo, my main issue right now with the current structure is that we are using CRA, and we do have a lot of folders inside the `src/` folder.
IMHO, we need to split it into separated projects, by having, for now, the `./src` storing the library things, while the `./docs` being a separated pr

[2022-06-14 07:47] #215 closed

[2022-06-15 07:18] #145 closed

[2022-06-15 07:29] rluders opened #233 "Chore: Improve test speed with concurrency"
Unit tests are really slow, in some cases. I think that we can make it faster.

**Describe the solution you'd like**
Implement [concurrency](https://vitest.dev/guide/features.html#running-tests-concurrently) to the tests.

**Describe alternatives you've considered**
None

**Additional context**
I didn't test to see the real speed impact, it could happen that it actually don't happen the test speed

[2022-06-15 08:10] rluders opened #234 "Refactor: formControls components must have its own folders"
**Is your feature request related to a problem? Please describe.**
The way that the `formControls` are organized right now doesn't actually match the other component structure. We need to move it to a flat folder structure and keep it consistent with the rest of the components' structure.

**Describe the solution you'd like**
Every component inside the `formControls` folder must be moved to its ow

[2022-06-15 09:09] rluders opened #236 "Document: Update theme support page"
**Is your feature request related to a problem? Please describe.**
Currently we don't have anything explaining to users how to use the theme support. We need to make it clear how it can be used.

**Describe the solution you'd like**
- What is a theme?
- How to create your own theme?
- How to use your own theme?

**Describe alternatives you've considered**
n/a

**Additional context**
We also need t

[2022-06-16 18:31] kaozaza2 opened #238 "export 'useId' (imported as 'useId') was not found in 'react'"
*Describe the bug*
Building a project on React 17 throws the following errors when running build.
![image](https://user-images.githubusercontent.com/11665930/174139844-dd2279f4-14ca-458a-9feb-7ca37b9cf2b4.png)

*Expected behavior*
Build should work on React 17 as v0.0.26 is a minor release and React 18, which includes these imports, is not yet released.

*Steps to reproduce*
Steps
  1. install flo

[2022-06-16 20:18] tulup-conner commented on #238
Nice catch, looks like we should change peer dependencies to React 18 only.

[2022-06-16 20:58] rluders commented on #238
React 18 was already released and it supports `useId()`... Wasn't?
https://github.com/facebook/react/blob/main/CHANGELOG.md#1820-june-14-2022

But I agree with the confusion around the mirror release, we've been talking about it for a while already. But the releases don't follow the semver yet.

[2022-06-17 08:02] rluders opened #239 "Documentation: Update the contributing guide"
**Is your feature request related to a problem? Please describe.**
Since we are going to adopt semver we need to update our contributing guide.

**Describe the solution you'd like**

My suggestions for some topics:

- How to contribute?
  - How to commit? ([commitizen friendly](https://github.com/commitizen/cz-cli))
  - Review process
- How the release process works?
  - What is semver?
  - CI/CD

[2022-06-17 14:06] rluders commented on #238
Given all the facts, we discussed internally and we decided that supporting `< 18` isn't desirable.

I'm sorry about the version release confusion, but since the lib isn't even released yet, doesn't make sense for us to make it compatible with the previous React version.

Hope you understand and feel free to open an issue if you found any bugs or contribute to the project.

[2022-06-19 21:34] #224 closed

[2022-06-23 17:20] PlasticLizard opened #244 "Navbar + Sidenav: Connecting the Navbar.Toggle to Sidenav collapsed"
**Is your feature request related to a problem? Please describe.**
I am trying to connect the Navbar.Toggle to the Sidenav.collapsed, but it doesn't appear as if the necessary Navbar.Toggle context is exported publicly.

**Describe the solution you'd like**
I'm presuming an easy way to do this would be to import the Navbar.Toggle context into a page using Sidenav, and sync it with the Navbar colla

[2022-06-23 17:48] rluders commented on #244
Well, we do have the context helper function defined [here](https://github.com/themesberg/flowbite-react/blob/main/src/lib/components/Navbar/NavbarContext.tsx) but it seems to be true that isn't exported.

I guess that we need to make it exposed so, users can import like:

[code]

Right? Any other options/idea/suggestions?

[2022-06-23 17:51] PlasticLizard commented on #244
That seems like the ticket to me. It seems several components have currently non-exported contexts to control their state - so it might be a broader effort. Happy to take a crack if you like.

[2022-06-23 17:55] rluders commented on #244
@PlasticLizard please, go ahead. I'll be happy to review it. :)

[2022-06-23 17:59] tulup-conner commented on #244
I can add a proof of concept illustrating how I created a toggle button for Sidebars to my flowbite-react starters. I added my own context though, and there may be a more efficient way to do this if you use the context provided by flowbite-react itself like you are looking into.

[2022-06-23 18:00] PlasticLizard commented on #244
That would be great

[2022-06-23 22:15] 1eurs opened #245 "Navbar and Header changes color by their own"
**Describe the bug**
the navbar won't let me change its color to my background color but every other color is possible ?_? but after a white it go back to white.

**Desktop (please complete the following information):**

- Windows
- brave
- newest

[2022-06-24 09:12] rluders commented on #245
@1eurs are u using the latest version of the library? If yes, you need to change your sidebar color by using the theme system.

[2022-06-28 14:52] MahdyarEn opened #251 "React v18"
Flowbia does not work with React version 18

https://stackoverflow.com/questions/72159197/how-can-i-add-flowbite-to-the-react-js-followed-the-guide-on-the-flowbite-but

[2022-06-28 14:56] rluders commented on #251
You are not using `flowbite-react`.

[2022-06-28 15:06] rluders commented on #251
@MahdyarEn does it help?

[2022-06-28 15:10] MahdyarEn commented on #251
Thanks Worked 🔥!

[2022-06-28 15:10] #251 closed

[2022-06-29 17:58] farshmachine commented on #166
Hi there. Mind if i help you with this one?

[2022-06-30 07:10] #136 closed

[2022-06-30 07:15] rluders commented on #166
Hi @farshmachine, yes, please, go ahead. :)

I'll just say that if you found any change needed to the `docs/` just ignore it. We are going to move it to use [Hugo](https://gohugo.io/) instead using the react.

[2022-06-30 07:41] zoltanszogyenyi commented on #167
Hey @rluders,

Sounds good. Flowbite.com runs on Next.js and we still decided to keep the documentation via HUGO and we just upload it to the public folder. So we used the same approach in fact :)

[2022-06-30 08:43] #139 closed

[2022-06-30 08:46] rluders commented on #165
Since this one is related to #167 and #152 I guess that we can handle it in one single task.

[2022-06-30 13:20] #134 closed

[2022-07-01 00:32] asabadyr opened #255 "ThemeContext export"
**Is your feature request related to a problem? Please describe.**
Using third party components (nivo.rocks). Need to adapt text color in charts according to the dark/light mode. The best option would be getting access to the ThemeContext that is used internally in Flowbite.

**Describe the solution you'd like**
export ThemeContext to be able to use in components

**Describe alternatives you've co

[2022-07-01 07:09] rluders commented on #255
@tulup-conner would be the solution for it similar to #244? What do you think?

IMHO, we need to start to export the context functions to allow users to access it. Maybe the cases are similar, but not the same...

[2022-07-02 12:30] zhex900 commented on #255
Once the ThemeContext exported, theme can be customised?

[2022-07-02 12:35] rluders commented on #255
@zhex900 you don't need the `ThemeContext` to customize the theme. All that you need is to create your own theme, based on `FlowbiteTheme` and use it:

[code]

[2022-07-03 18:38] elhe26 opened #257 "Rating doesn't work as it should."
**Describe the bug**
Rating doesn't change the size of the Star Icon. `Rating.Star` doesn't get filled.

**To Reproduce**
[code]

 Doesn't work.

**Expected behavior**
Star gets a yellow color and Star with `filled={false}` gets a gray color.

**Desktop (please complete the following information):**

- OS: Windows 10
- Browser: Brave
- Version: v1.40.109

[2022-07-03 20:33] rluders commented on #257
I'm using the exactly same browser and I don't see the issue.
Can you check if you are using the version `0.1.0` of flowbite-react?

[2022-07-04 01:39] elhe26 commented on #257
- I'm using version `0.1.0`
- Example work is ok. I can see all stars.

[2022-07-04 07:14] rluders commented on #257
Hello, @elhe26

I wasn't able to reproduce the issue that you are having. Everything seems to be working fine. I created an CRA project, installed the lasted Flowbite React, and used the exactly same code that you did, and the result was as expected, no issue showed up.

In order to proceed, could you please provide some:
- screenshot of the issue
- complete code
- are u using cra, nextjs or somet

[2022-07-04 07:44] rluders opened #258 "Misbehavior for sidebar when collapsed"
**Describe the bug**

The sidebar, when collapsed is acting weird:
- It shows the badge
- It makes the whole `children` as its tooltip (even the icon)

**To Reproduce**
Steps to reproduce the behavior:

1. Create a CRA project with flowbite-react
2. Create the sidebar menu as described in the documentation (with icons and labels)
3. Change its attribute to be collapsed `<Sidebar collapsed={true} .

[2022-07-04 08:07] rluders opened #259 "Sidebar item groups with space"
**Is your feature request related to a problem? Please describe.**

OK. If we check the Flowbite Figma design files we do have the possibility to put some "space between" the group menu items. What doesn't seems to be possible right now.

**Describe the solution you'd like**
I would like to add some items to the bottom of my sidebar, while keeping some other menu items at the top. Just like the Fi

[2022-07-04 16:54] elhe26 commented on #257
Hi @rluders ,

After I upgraded Nextjs to the latest version, everything started working.

Thanks.

[2022-07-04 20:27] #257 closed

[2022-07-05 10:19] SajiburMunna opened #480 "How can we use datepicker in react? any idea"
Hello there, I was looking forward to using the date-picker plugin in react, any idea about implementing it in react??
thank you  and looking forward to your help

https://github.com/themesberg/flowbite/blob/main/content/plugins/datepicker.md

[2022-07-05 13:50] tzusman opened #264 "Breadcrumb shows leading arrow when there's no icon"
The issue: I'd expect there not to be an arrow to the left of the first element

![image](https://user-images.githubusercontent.com/113902/177342347-69ca68b8-28d6-46fe-975c-cb958e448abc.png)
---

[code]

[2022-07-05 15:44] rluders commented on #264
@tzusman what version of flowbite are you using?

[2022-07-05 15:53] tzusman commented on #264
[code]

[2022-07-06 09:02] asabadyr commented on #255
Hi team, any news on this? Thanks

[2022-07-06 11:29] tzusman commented on #264
@rluders I don't see a v0.1.3 in npm or in the github repo - could you please point me to it?

[2022-07-06 12:03] rluders commented on #264
Ops! My bad, @tzusman, I was thinking to release the `0.1.3` today, but I'm waiting for a PR.

Anyway, I tested with `0.1.2` and it also didn't had any issue. So...

- Could you please provide some extra context?
- If you project is open source, could you share the repo with the code?
- Otherwise, could you provide some more detailed example?

[2022-07-06 12:13] tzusman commented on #264
@rluders I created a new Vite app, but it worked properly when it wasn't within the context of my app.  I'll try to dig into it and see if I can find the culprit.

[2022-07-06 12:31] #264 closed

[2022-07-06 14:36] asabadyr commented on #255
It's possible to do a number of ways even reading from localStorage. but when user switches to dark/light mode the tree of components is not re-rendered. in fact I have no way to listen to the event of mode change. Another option would be to add a callback to the mode switch component to be able to react to this switch.

[2022-07-06 20:18] tulup-conner commented on #244
IMO it should be implemented by us since the flowbite website itself implements this behavior. If you tap outside the Sidebar on mobile for example that closes the Sidebar. I created my own Context to do that but I dont see why it shouldnt be baked in

[2022-07-06 22:14] julianYaman commented on #214
Hey @rluders sorry, missed replying to you. Had my final exams recently.
I'm going to try it with your solution, thanks 👍

[2022-07-07 06:56] rluders commented on #236
Hold this one till I get the react rendering component for hugo working. :)

[2022-07-09 11:52] AhmedA1559 opened #269 "Next.js SSR Hydration error with Modal component"
**Describe the bug**
With Next.js alongside flowbite-react, using Modals in the DOM causes errors with Next.js's builtin SSR.

**To Reproduce**
Steps to reproduce the behavior:

1. Initialize Next.js project (create-next-app)
2. Setup tailwind, Flowbite, and flowbite-react library
3. Import and use Modal component
4. Open development page and see error

Simple repository to replicate the error:
ht

[2022-07-09 17:29] julianYaman commented on #269
I also got similar errors and got it fixed in multiple ways:

One would be by wrapping the Modal component in a [Suspense](https://reactjs.org/docs/react-api.html#reactsuspense) component, which was introduced in React 18 without being experimental anymore.

Another solution is by using `useEffect` and states.
`useEffect` (in my example) will be triggered when the HTML was fully rendered.

You cou

[2022-07-09 18:23] technophile-04 opened #270 "Extra scroll bar causing extra space"
**Describe the bug**
On some pages like [https://flowbite-react.com/alerts](https://flowbite-react.com/alerts) and [https://flowbite-react.com/tooltips](https://flowbite-react.com/tooltips) there is an extra vertical scroll bar which causes extra scroll.

**To Reproduce**
visit [https://flowbite-react.com/tooltips](https://flowbite-react.com/tooltips) and go on scrolling to the bottom of the page.

[2022-07-11 13:44] mouracamila opened #272 "docs(button): button colour control is incorrect in storybook"
**Describe the bug**
At the moment option to change the colour, the user needs to write, and this option doesn't work very well, so have a more elegant to set the button colour in the storybook, like a selector where it could be possible to select the colour.

**To Reproduce**
Steps to reproduce the behaviour:

1. Go to Storybook
2. Click on the button
3. Scroll down to the colour
4. See an error

[2022-07-11 14:20] mouracamila opened #273 "docs: migrate the Accordion to Hugo"
**Feature request**
Move the Accordion documentation from the current documentation page to Hugo, it must look similar to the Alert example that can be [found here](https://github.com/themesberg/flowbite-react/blob/main/docs/content/components/alerts.md)

**Describe alternatives you've considered**
It would be nice if it had these elements in the documentation:

- [ ] Usage
- [ ] Properties
- [ ]

[2022-07-11 14:25] mouracamila opened #274 "docs: migrate the Avatar to Hugo"
**Feature request**
Move the Avatar documentation from the [current documentation page](https://flowbite-react.com/) to Hugo, it must look similar to the Alert example that can be [found here](https://github.com/themesberg/flowbite-react/blob/main/docs/content/components/alerts.md)

**Describe the solution you'd like**
It would be nice if it had these elements in the documentation:

- [ ] Usage
-

[2022-07-11 14:29] mouracamila opened #275 "docs: migrate the Badge to Hugo"
**Feature request**
Move the Badge documentation from the [current documentation page](https://flowbite-react.com/) to Hugo, it must look similar to the Alert example that can be [found here](https://github.com/themesberg/flowbite-react/blob/main/docs/content/components/alerts.md)

**Describe the solution you'd like**
It would be nice if it had these elements in the documentation:

- [ ] Usage
- [

[2022-07-11 14:31] mouracamila opened #276 "docs: migrate the Breadcrumb to Hugo"
**Feature request**
Move the  Breadcrumb documentation from the [current documentation page](https://flowbite-react.com/) to Hugo, it must look similar to the Alert example that can be [found here](https://github.com/themesberg/flowbite-react/blob/main/docs/content/components/alerts.md)

**Describe the solution you'd like**
It would be nice if it had these elements in the documentation:

- [ ] Usa

[2022-07-11 14:33] mouracamila opened #277 "docs: migrate the Buttons to Hugo"
**Feature request**
Move the Buttons documentation from the [current documentation page](https://flowbite-react.com/) to Hugo, it must look similar to the Alert example that can be [found here](https://github.com/themesberg/flowbite-react/blob/main/docs/content/components/alerts.md)

**Describe the solution you'd like**
It would be nice if it had these elements in the documentation:

- [ ] Usage
-

[2022-07-11 14:35] mouracamila opened #278 "docs: migrate the Buttons Group to Hugo"
**Feature request**
Move the  Buttons Group documentation from the [current documentation page](https://flowbite-react.com/) to Hugo, it must look similar to the Alert example that can be [found here](https://github.com/themesberg/flowbite-react/blob/main/docs/content/components/alerts.md)

**Describe the solution you'd like**
It would be nice if it had these elements in the documentation:

- [ ]

[2022-07-11 14:37] mouracamila opened #279 "docs: migrate the Card to Hugo"
**Feature request**
Move the Card documentation from the [current documentation page](https://flowbite-react.com/) to Hugo, it must look similar to the **Alert example** that can be [found here](https://github.com/themesberg/flowbite-react/blob/main/docs/content/components/alerts.md)

**Describe the solution you'd like**
It would be nice if it had these elements in the documentation:

- [ ] Usage

[2022-07-11 14:40] mouracamila opened #280 "docs: migrate the Carousel to Hugo"
**Feature request**
Move the Carousel documentation from the [current documentation page](https://flowbite-react.com/) to Hugo, it must look similar to the **Alert example** that can be [found here](https://github.com/themesberg/flowbite-react/blob/main/docs/content/components/alerts.md)

**Describe the solution you'd like**
It would be nice if it had these elements in the documentation:

- [ ] Us

[2022-07-11 15:03] mouracamila opened #281 "docs: migrate the Dropdown to Hugo"
**Feature request**
Move the Dropdown documentation from the [current documentation page](https://flowbite-react.com/) to Hugo, it must look similar to the **Alert example** that can be [found here](https://github.com/themesberg/flowbite-react/blob/main/docs/content/components/alerts.md)

**Describe the solution you'd like**
It would be nice if it had these elements in the documentation:

- [ ] Us

[2022-07-11 15:05] mouracamila opened #282 "docs: migrate the Forms to Hugo"
**Feature request**
Move the Forms documentation from the [current documentation page](https://flowbite-react.com/) to Hugo, it must look similar to the **Alert example** that can be [found here](https://github.com/themesberg/flowbite-react/blob/main/docs/content/components/alerts.md)

**Describe the solution you'd like**
It would be nice if it had these elements in the documentation:

- [ ] Usage

[2022-07-11 15:06] mouracamila opened #283 "docs: migrate the Footer to Hugo"
**Feature request**
Move the Footer documentation from the [current documentation page](https://flowbite-react.com/) to Hugo, it must look similar to the **Alert example** that can be [found here](https://github.com/themesberg/flowbite-react/blob/main/docs/content/components/alerts.md)

**Describe the solution you'd like**
It would be nice if it had these elements in the documentation:

- [ ] Usag

[2022-07-11 15:07] mouracamila opened #284 "docs: migrate the List Group to Hugo"
**Feature request**
Move the List Group documentation from the [current documentation page](https://flowbite-react.com/) to Hugo, it must look similar to the **Alert example** that can be [found here](https://github.com/themesberg/flowbite-react/blob/main/docs/content/components/alerts.md)

**Describe the solution you'd like**
It would be nice if it had these elements in the documentation:

- [ ]

[2022-07-11 15:08] mouracamila opened #285 "docs: migrate the Modal to Hugo"
**Feature request**
Move the Modal documentation from the [current documentation page](https://flowbite-react.com/) to Hugo, it must look similar to the **Alert example** that can be [found here](https://github.com/themesberg/flowbite-react/blob/main/docs/content/components/alerts.md)

**Describe the solution you'd like**
It would be nice if it had these elements in the documentation:

- [ ] Usage

[2022-07-12 12:24] mouracamila opened #286 "docs: migrate the Navbars to Hugo"
**Feature request**
Move the Navbars documentation from the [current documentation page](https://flowbite-react.com/) to Hugo, it must look similar to the **Alert example** that can be [found here](https://github.com/themesberg/flowbite-react/blob/main/docs/content/components/alerts.md)

**Describe the solution you'd like**
It would be nice if it had these elements in the documentation:

- [ ] Usa

[2022-07-12 12:25] mouracamila opened #287 "docs: migrate the Pagination to Hugo"
**Feature request**
Move the Pagination documentation from the [current documentation page](https://flowbite-react.com/) to Hugo, it must look similar to the **Alert example** that can be [found here](https://github.com/themesberg/flowbite-react/blob/main/docs/content/components/alerts.md)

**Describe the solution you'd like**
It would be nice if it had these elements in the documentation:

- [ ]

[2022-07-12 12:26] mouracamila opened #288 "docs: migrate the Progress to Hugo"
**Feature request**
Move the Progress documentation from the [current documentation page](https://flowbite-react.com/) to Hugo, it must look similar to the **Alert example** that can be [found here](https://github.com/themesberg/flowbite-react/blob/main/docs/content/components/alerts.md)

**Describe the solution you'd like**
It would be nice if it had these elements in the documentation:

- [ ] Us

[2022-07-12 12:27] mouracamila opened #289 "docs: migrate the Rating to Hugo"
**Feature request**
Move the Rating documentation from the [current documentation page](https://flowbite-react.com/) to Hugo, it must look similar to the **Alert example** that can be [found here](https://github.com/themesberg/flowbite-react/blob/main/docs/content/components/alerts.md)

**Describe the solution you'd like**
It would be nice if it had these elements in the documentation:

- [ ] Usag

[2022-07-12 12:29] mouracamila opened #290 "docs: migrate the Sidebar to Hugo"
**Feature request**
Move the Sidebar documentation from the [current documentation page](https://flowbite-react.com/) to Hugo, it must look similar to the **Alert example** that can be [found here](https://github.com/themesberg/flowbite-react/blob/main/docs/content/components/alerts.md)

**Describe the solution you'd like**
It would be nice if it had these elements in the documentation:

- [ ] Usa

[2022-07-12 12:30] mouracamila opened #291 "docs: migrate the Spinners to Hugo"
**Feature request**
Move the Spinners documentation from the [current documentation page](https://flowbite-react.com/) to Hugo, it must look similar to the **Alert example** that can be [found here](https://github.com/themesberg/flowbite-react/blob/main/docs/content/components/alerts.md)

**Describe the solution you'd like**
It would be nice if it had these elements in the documentation:

- [ ] Us

[2022-07-12 12:31] mouracamila opened #292 "docs: migrate the Tables to Hugo"
**Feature request**
Move the Tables documentation from the [current documentation page](https://flowbite-react.com/) to Hugo, it must look similar to the **Alert example** that can be [found here](https://github.com/themesberg/flowbite-react/blob/main/docs/content/components/alerts.md)

**Describe the solution you'd like**
It would be nice if it had these elements in the documentation:

- [ ] Usag

[2022-07-12 12:32] mouracamila opened #293 "docs: migrate the Tabs to Hugo"
**Feature request**
Move the Tabs documentation from the [current documentation page](https://flowbite-react.com/) to Hugo, it must look similar to the **Alert example** that can be [found here](https://github.com/themesberg/flowbite-react/blob/main/docs/content/components/alerts.md)

**Describe the solution you'd like**
It would be nice if it had these elements in the documentation:

- [ ] Usage

[2022-07-12 12:33] mouracamila opened #294 "docs: migrate the Timeline to Hugo"
**Feature request**
Move the Timeline documentation from the [current documentation page](https://flowbite-react.com/) to Hugo, it must look similar to the **Alert example** that can be [found here](https://github.com/themesberg/flowbite-react/blob/main/docs/content/components/alerts.md)

**Describe the solution you'd like**
It would be nice if it had these elements in the documentation:

- [ ] Us

[2022-07-12 12:34] mouracamila opened #295 "docs: migrate the Theme to Hugo"
**Feature request**
Move the theme documentation from the [current documentation page](https://flowbite-react.com/) to Hugo, it must look similar to the **Alert example** that can be [found here](https://github.com/themesberg/flowbite-react/blob/main/docs/content/components/alerts.md)

**Describe the solution you'd like**
It would be nice if it had these elements in the documentation:

- [ ] Usage

[2022-07-12 12:35] mouracamila opened #296 "docs: migrate the Toast to Hugo"
**Feature request**
Move the Toast documentation from the [current documentation page](https://flowbite-react.com/) to Hugo, it must look similar to the **Alert example** that can be [found here](https://github.com/themesberg/flowbite-react/blob/main/docs/content/components/alerts.md)

**Describe the solution you'd like**
It would be nice if it had these elements in the documentation:

- [ ] Usage

[2022-07-12 12:36] mouracamila opened #297 "docs: migrate the Tooltips to Hugo"
**Feature request**
Move the Tooltips documentation from the [current documentation page](https://flowbite-react.com/) to Hugo, it must look similar to the **Alert example** that can be [found here](https://github.com/themesberg/flowbite-react/blob/main/docs/content/components/alerts.md)

**Describe the solution you'd like**
It would be nice if it had these elements in the documentation:

- [ ] Us

[2022-07-12 12:42] #270 closed

[2022-07-14 13:01] valerius21 opened #299 "Error: useSidebarItemContext should be used within the SidebarItemContext provider!"
**Describe the bug**
I'm getting the in the title mentioned error while using the example code. Browsing the code, it looks alright to me.

**To Reproduce**
Steps to reproduce the behavior:

1. Create a new component
2. use the following code
[code]
3. See error

**Expected behavior**
The component should render without any errors.

**Screenshots**
![image](https://user-images.githubusercontent.co

[2022-07-18 03:57] bayuasrori opened #300 "Error Hydration failed because the initial UI does not match what was rendered on the server when using Modal components"
When I use Modal from flowbite-react in Next.JS there's always error said Hydration failed because the initial UI does not match what was rendered on the server and warning Expected server HTML to contain a matching <div> in <div> due to State

**To Reproduce**
Steps to reproduce the behavior:

1. Go to pages in NextJs
2. Create new file
3. Add Modal from flowbite-react (I use the exact copy from

[2022-07-18 12:28] ValTM commented on #299
Same issue here.

[2022-07-19 21:28] hlauinfo opened #303 "Empty Form Submission"
**Describe the bug**
Form submissions are returning empty responses when using the form control React components.

**To Reproduce**
Steps to reproduce the behavior:
Replicated sample form, pointed action to an external URL.

**Expected behavior**
Form should submit data

**Screenshots**

**System information:**

- Device: MacBook
- Resolution:
- OS:
- Browser: Chrome
- Version:

**Project informat

[2022-07-19 23:10] hlauinfo commented on #303
This one was staring at me for a bit. Forms need field names in addition to ids in order for them to be properly submitted. Recommend that documentation be updated to reflect this.

[2022-07-20 16:24] ayoubkhan558 opened #305 "How we can use components?"
How we can use components? We does not have completed code, What to import before using any components?

[2022-07-21 03:18] joelcieslar opened #306 "After upgrading from 0.0.27 to 0.1.3, TextInput "color" prop does not change color of input"
**Describe the bug**

This is how I've been using `TextInput`:

[code]
When there is an error, the text area is shaded red:

![image](https://user-images.githubusercontent.com/18103212/180121585-b02ff884-0c27-4a7e-8deb-e8c637cf4c01.png)

Just now, I upgraded from `0.0.27` to `0.1.3` and this is no longer the case:

![image](https://user-images.githubusercontent.com/18103212/180122021-e132d4fa-60b0

[2022-07-21 15:49] leesiongchan opened #307 "Allow className for all components"
**Is your feature request related to a problem? Please describe.**

I wish to customize & improve some of the primitive components like `Checkbox` or `Label` to have different look-and-feel. One common example is like the `TextInput` with `sizing` props to allow user to customize sizing at will. I curious why most components disallow to extend `className` ?

**Describe the solution you'd like**

A

[2022-07-21 16:25] rluders commented on #307
Nope. :)

[2022-07-21 16:37] leesiongchan commented on #307
But sometime we need to adjust its positioning, padding, margin, etc.? One example is like the below where I wish to align center & provide a little gap between.

[code]

I understand there is another way to accomplish the same thing, but I believe there are more cases like this where we need `className` not only to customize its styling but also for us to adjust its positioning.

[2022-07-21 16:52] rluders commented on #307
[code]
and
[code]

[2022-07-21 16:55] leesiongchan commented on #307
The second wont work though haha.

[2022-07-21 16:57] rluders commented on #307
I didn't tested it. :)
AFAIK, default Button style is `w-fit`, isn't? It should have the parent size. If not, it is a bug.

[2022-07-21 16:57] rluders commented on #307
Also, theme support: https://github.com/themesberg/flowbite-react/blob/bfef57a8edc6d338ba6971f07d3a8cd5856b9fa6/src/lib/theme/default.ts#L192

[2022-07-22 05:00] tulup-conner commented on #244
@PlasticLizard Sorry for taking a month to do this, but here's an example of how you can create your own React Context to toggle a Sidebar from inside a Header: https://github.com/tulupinc/flowbite-next-starter/commit/c515b414e502df379ec2e7ad2043155fff8950ad

[2022-07-22 17:18] rluders commented on #306
@joelcieslar yep, the documentation isn't showing the correct color.

Check this https://github.com/themesberg/flowbite-react/blob/bfef57a8edc6d338ba6971f07d3a8cd5856b9fa6/src/lib/theme/default.ts#L350

For this case we are using the color names based on states, so... warning, info, success, and so.

[2022-07-22 17:19] rluders commented on #306
BTW, I just marked it as a `wontfix` 'cause we are moving the documentation to Hugo for the v1.0.0 release.

[2022-07-22 17:19] #306 closed

[2022-07-22 17:23] rluders commented on #305
@ayoubkhan558 it is a React library, so...

1. Follow the instructions [here](https://flowbite.com/docs/getting-started/react/) to install the library in your project
2. Every time that you want to use a component you need to import it:
[code]
3. Be happy!

[2022-07-23 02:30] ayoubkhan558 commented on #305
Thank you :)

Why there is no documentation for this on https://flowbite-react.com ?
It should have complete documentation for every component how to import it from 'flowbite-react' and use it.

[2022-07-23 06:28] nadiemedicejose opened #308 "User Dropdown Component Background is Transparent"
**Describe the bug**
Current background of Avatar Dropdown is transparent.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to [https://flowbite-react.com/avatar](https://flowbite-react.com/avatar)
2. Copy User dropdown component
3. Use clean react app with base libraries
4. See error

**Expected behavior**
It should be similar to other dropdown items.

**Screenshots**

![image](https://u

[2022-07-23 21:09] magixus commented on #305
@ayoubkhan558

After installing Flowbite and Flowbite-react with all stated in documentation quick start

You can use https://flowbite-react.com  and here's an example:

[code]

[2022-07-25 12:39] #305 closed

[2022-07-25 12:40] rluders commented on #299
@valerius21 can you confirm that the solution above works?

[2022-07-25 12:42] rluders commented on #308
@nadiemedicejose could you try to update flowbite-react to `0.1.3` and see what happens?

[2022-07-25 12:44] rluders commented on #236
Closing pior #295

[2022-07-25 12:44] #236 closed

[2022-07-25 17:16] pcardosolei opened #309 "Styling Accordion"
Hello everyone thanks for the awesome package.

Im having some trouble styling the accordion title. we want to have some accordion title with title in the left side and right side.
what is the best way to do it since className is not doing any kind of effect in it.

regards,

[2022-07-29 09:41] valerius21 commented on #299
@rluders Thank you for the response. I'll retry everything again when RedwoodJS finishes the React 18 upgrade officially. I did not see it initially. https://github.com/redwoodjs/redwood/pull/4992

[2022-07-29 09:41] #299 closed

[2022-07-30 01:49] nadiemedicejose commented on #308
Yes, I updated `flowbite-react` to version `0.1.3` and it's broken too.

[2022-07-30 23:08] tulup-conner commented on #308
@nadiemedicejose I just created a Pull Request resolving this issue. I've tested it on [`flowbite-next-starter`](https://github.com/tulupinc/flowbite-next-starter) and some of my other projects using `flowbite-react` so I think it should be good to go for the next release.

[2022-07-30 23:45] tulup-conner commented on #303
The browser is documented to not submit inputs that do not have a `name` attribute: https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input#name

[2022-07-30 23:45] #303 closed

[2022-07-31 00:02] tulup-conner commented on #269
I've tried to play around with this but I'm honestly stumped. My understanding is that this happening because the `Modal` is created in a `React.Portal`. There's no HTML delivered to the spot where the `Modal` is actually declared. But I don't know how to help `next` understand/deal with that.

[2022-07-31 00:40] tulup-conner commented on #258
I found some tests are reporting false positive here. `userEvent.focus(something)` is not reliable. We should add `Tooltip` integration tests in `cypress` to actually cover user interactions like `hover`

[2022-07-31 01:09] tulup-conner commented on #81
After looking at this Flowbite Pro design, the correct behavior would be to pull the first letter of the text label and capitalize it: https://www.figma.com/file/U3v0je4no1JpE8sCud1pPZ/Flowbite-Pro-v2.1.0?node-id=3279%3A34616

So we should do that. I can look into this.

[2022-07-31 19:42] tulup-conner commented on #245
@1eurs have you had the chance to create a reproduction of this issue?

[2022-07-31 19:47] #258 closed

[2022-07-31 20:02] #272 closed

[2022-07-31 21:30] tulup-conner commented on #175
Thoughts on `<Button spinner spinnerText="Sending..">Send</Button>` here? This is easy to implement.

[2022-07-31 21:35] tulup-conner commented on #214
@rluders That solution doesn't work because `ButtonGroup` currently assumes the immediate children are `Button`s. We might need to add a `ButtonGroupContext` and switch off of prop drilling to allow that behavior.

[2022-07-31 21:42] tulup-conner opened #318 "`ButtonGroup` ignores nested `Button`s"
**Describe the bug**
`ButtonGroup` prop-drills its immediate children, assuming they are `Button`s. Thus, something like this:

[code]

Does not work like expected.

**To Reproduce**
Steps to reproduce the behavior:

1. Add the above snippet to a `flowbite-react` project
2. Observe that the buttons are not grouped together, since props (namely, `positionInGroup`) aren't being passed

**Expected be

[2022-07-31 21:42] tulup-conner commented on #214
See related #318

[2022-07-31 21:54] tulup-conner commented on #152
I'm thinking...

[code]

[2022-07-31 21:59] tulup-conner commented on #176
I think a valid solution would be to make it so you can pass `ref`s to all of the form controls. That should be available at the very least since I know a lot of people are using controlled inputs in React still. Thoughts?

[2022-07-31 22:06] tulup-conner opened #319 "Update dependencies to latest versions"
**Describe the bug**
We have numerous packages running out of date versions, including `flowbite` itself.

Breaking changes:

- `@floating-ui/*` (none)
- `@testing-library/user-event` (confirmed)
- `cypress` (confirmed)
- `husky` (?)
- `jsdom` (?)
- `lint-staged` (?)
- `prettier-plugin-organize-imports` (none)
- `react-element-to-jsx-string` (none)
- `tailwindcss` (?)

[code]

@rluders You might w

[2022-07-31 22:07] tulup-conner commented on #319
BTW, I used [`npm-check-updates`](https://www.npmjs.com/package/npm-check-updates) to get this pretty list

[2022-07-31 22:23] tulup-conner commented on #319
The big one is `@testing-library/user-events`: https://github.com/testing-library/user-event/releases/tag/v14.0.0

[2022-08-01 01:12] tulup-conner commented on #233
Already done.

[2022-08-01 01:12] #233 closed

[2022-08-01 01:13] tulup-conner commented on #319
I'm in the process of rewriting our tests to use the newer APIs. They're less verbose and overall easier to read.

[2022-08-01 01:14] tulup-conner commented on #234
Do you mind if I do this? It's been bothering me lol

[2022-08-01 06:40] rluders commented on #319
Yeh, I think that we can add [Snyk](https://snyk.io/) to the project. I'll do it later, it should be pretty easy.

[2022-08-01 06:41] rluders opened #320 "Add Snyk to repository"
Add [Snyk](https://snyk.io/) to the repository to automatic upgrade deps.

[2022-08-01 06:51] rluders commented on #234
@tulup-conner go ahead.

[2022-08-01 06:56] rluders commented on #152
I don't think that moving the unit tests away from the components is a good idea. I like to keep it close, maybe because it is a good practice on Go.

But I'm not totally against it, it is just my opinion. So, let's try to find some info.

- What are the pros or cons?
- Is it a community standard?
- If not, what is the community standard for unit testing?

[2022-08-01 06:59] rluders commented on #175
Yep, I think that it makes sense.

[2022-08-01 07:02] tulup-conner commented on #152
I think Jest suggests `__tests__` which is weird.

I am indifferent, my logic is keep the integration tests and unit tests together, rather than having Cypress in its own folder `cypress` randomly.

[2022-08-01 17:47] jwhitmarsh commented on #307
@rluders `w-fit` applies `width: fit-content` which is the available space up to the max of the content, _not_ the available space of the parent. `w-full` would do that.

[2022-08-01 17:56] rluders commented on #307
@jwhitmarsh in this case, probably a easy fix to theme will do the job. Do you want to create one?

[2022-08-02 19:26] BaumgartnerWilliam opened #321 "useId is not exported in react 17"
**Describe the bug**
Some components use newest react feature `useId` which is not available in react 17.

**To Reproduce**
Steps to reproduce the behavior:

1. `npm i react@17 react-dom@17 flowbite flowbite-react`
2. Import any component that uses `useId` such as [Progress](https://github.com/themesberg/flowbite-react/blob/main/src/lib/components/Progress/index.tsx#L32)
3. see error

**Expected b

[2022-08-02 19:31] rluders commented on #321
Hi @BaumgartnerWilliam thanks for reporting it. We need to remove the React 17 from the `package.json` we discussed and we don't have the intention to keep it working for it.

[2022-08-02 19:31] BaumgartnerWilliam commented on #321
Oh I see. Thank you for the heads up. Cheers mate.

[2022-08-02 19:31] #321 closed

[2022-08-04 16:37] nakulnagariy opened #322 "Unable to import Breadcrumb and Breadcrumb.Item"
**Describe the bug**
While importing Breadcrumb from flowbite-react show an error.

<img width="251" alt="image" src="https://user-images.githubusercontent.com/26174424/182904373-fa7f225a-4363-41cd-8334-459d42911de1.png">

<img width="431" alt="image" src="https://user-images.githubusercontent.com/26174424/182904446-216d0234-707f-4ce1-a2eb-8e396c27c8ec.png">

**To Reproduce**
Steps to reproduce th

[2022-08-04 18:00] rluders commented on #322
[code]

[code]

[2022-08-04 18:00] #322 closed

[2022-08-05 18:28] joelcieslar opened #323 "Tooltips can get rather wide with a lot of content - perhaps would work better with an (optional?) max width"
I'm using tooltips to provide hints for form fields. In some cases, the content can be several sentences or more.

The result is a very wide tooltip. I think it would look better if the width was fixed and text could wrap into several lines.

![image](https://user-images.githubusercontent.com/18103212/183136624-fea857fc-10be-4594-b02f-a962c256cce6.png)

[2022-08-08 22:02] dasveloper opened #324 "Next.js SSR Hydration error with TextInput helper text"
**Describe the bug**
When using Next.js, if you use a TextInput with helper text and the helper text contains an HTML element it throws an error:

This code works:
[code]

This code throws the error:
[code]

**To Reproduce**
Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

1. Initialize Next.js project (create-next-app)
2. Setup tailwind, F

[2022-08-08 22:09] #324 closed

[2022-08-09 08:35] #319 closed

[2022-08-09 08:37] tulup-conner commented on #245
@1eurs I'm going to close this since we haven't heard back, but please feel free to reopen if you can't use a theme on the Navbar to do what you want. You can find an example of adding a theme here:

https://github.com/tulupinc/flowbite-next-starter/blob/main/src/theme.ts
https://github.com/tulupinc/flowbite-next-starter/blob/main/src/pages/_app.tsx

[2022-08-09 08:37] #245 closed

[2022-08-13 19:39] magixus opened #329 "Collapse Sidebar on small screens"
**Describe the bug**
When the screen is on "xs sm md", sidebar needs to collapse

**To Reproduce**

1. Add a sidebar with all its items
2. Change the browser width to small screen
3. Sidebar does not collapse

**Expected behavior**
Sidebar to collapse on small screens

**Screenshots**
![sidebar](https://user-images.githubusercontent.com/7642058/184508316-a72ee061-93c8-443d-b957-2dcf5f016f3d.gif)

[2022-08-14 13:50] mrab-sonalake opened #330 "Pagination component button icon size misalignment"
**Describe the bug**
Whenever there is a 'Next' button within the Pagination component, its '>' icon seems to have the wrong size.

**To Reproduce**
The issue can be seen in the [documentation](https://flowbite-react.com/pagination), as well as whenever the Pagination component is used with the prop 'showIcons: true'. Seems to happen consistently across browsers too.

**Expected behavior**
The ico

[2022-08-18 14:45] rluders commented on #329
@magixus Please, upgrade it to the latest `flowbite-react` and see it the issue still happening.

[2022-08-19 09:07] SerGem811 opened #334 "Override className is not working"
I can see that Navbar has property of className but when i put class there (tailwind for example, bg-black), it is not working!!
From the inspect i can see that even it is not there.

Kindly fix it

Mine
react: 17.0.2
flowbite-react: 0.1.8
next: 12.0.4

Regard

[2022-08-19 10:37] rluders commented on #334
No flowbite-component give you direct access to `className`. If you want to customize it, you need to use the theme support.

[code]

This will not allow you to use the `className` property. Use:
https://flowbite-react.com/theme

[2022-08-19 10:39] SerGem811 commented on #334
If then why you have className there?
It has property className

[2022-08-19 11:33] rluders commented on #334
Oh, oh. I just saw it. Now.

[2022-08-19 11:34] SerGem811 commented on #334
okay

[2022-08-19 11:44] rluders opened #335 "Timeline component must support Theme"
It seems that the `Timeline` component is the only one that is missing the theme support. We need to add the support to it.

[2022-08-19 12:02] #334 closed

[2022-08-19 12:04] rluders commented on #307
Opening a new issue to the `w-fit`

[2022-08-19 12:04] #307 closed

[2022-08-19 12:07] rluders opened #337 "Button doesn't fit to its parent width"
**Describe the bug**

Button uses `w-fit`, that applies `width: fit-content` which is the available space up to the max of the content, not the available space of the parent. `w-full` would do that. So I think this is a bug because atm we have no way of resizing a button beyond with width of its content.

**To Reproduce**
Steps to reproduce the behavior:

1. Create a page with `Button` component
2

[2022-08-19 12:33] nakulnagariy commented on #322
Actually, I tried with that too, but I found out that since it's a freemium component so I can't use it.

[2022-08-19 15:51] rluders commented on #322
@nakulnagariy the flowbite is free. MIT license. It isn't freemium.

[2022-08-21 16:24] #81 closed

[2022-08-22 19:49] clari182 opened #339 "Tailwind prefix not considered"
**Is your feature request related to a problem? Please describe.**
I'm using tailwind configured with a prefix `tw-` but when using a flowbite-react component (for example Card) the prefix is not added to the card classes. So the tailwind styles are not applied.

**Describe the solution you'd like**
It'd be great if the tailwind prefix defined in `tailwind.config.js` is applied to the component cl

[2022-08-22 20:31] rluders commented on #339
Yeah... TBH, I have NO idea how it can be done. :thinking:
But, you can easy fix it right now, just by prefixing the the css tags by creating a custom theme.

[2022-08-22 20:35] rluders commented on #339
How to use theme component:
https://flowbite-react.com/theme

Default theme file:
https://github.com/themesberg/flowbite-react/blob/main/src/lib/theme/default.ts

[2022-08-23 02:48] xeno commented on #297
Happy to help, but I'm not quite sure what you mean by "to Hugo". Can you add a little more detail?

Thanks!

[2022-08-23 07:23] rluders commented on #297
@xeno unfortunately all documentation tasks are blocked by this PR: https://github.com/themesberg/flowbite-react/pull/311

But answering your question about Hugo: https://gohugo.io/

[2022-08-23 12:13] NoHaxito opened #340 "[components] Drawer"
We need to implement the Drawer Label component as described in the core library.
https://flowbite.com/docs/components/drawer/

**Describe the solution you'd like**

PR must have:

- Component (w/ Theme support)
- Storybook
- Documentation
- Unit test

**Describe alternatives you've considered**
n/a

**Additional context**
n/a

[2022-08-23 13:36] clari182 commented on #339
Hey! Thanks, that's actually the workaround I'm using right now.

[2022-08-23 20:23] hotrush opened #341 "forwardRef for button component"
**Is your feature request related to a problem? Please describe.**

Seems it's not possible to use buttons with Link component at Next.js

[code]

This code throws a warning
[code]

Would be good to add forwardRef for button component to increase compatibility with next.js

**Describe the solution you'd like**
Solution is described at docs https://nextjs.org/docs/api-reference/next/link#if-the-chi

[2022-08-24 09:53] rluders opened #343 "Theme: Table component"
Improve the theme support to the component (and subcomponents).

**Describe the solution you'd like**
- All default styles must be moved to the default theme;

**Describe alternatives you've considered**
n/a

**Additional context**
n/a

[2022-08-24 09:56] rluders commented on #341
I'm wondering if this one can't be solved by implementing the `as=` component modifier.

What do you think @tulup-conner ?

[2022-08-27 15:50] magixus commented on #329
@rluders I did, but still not collapsing on small screen.
[code]
Maybe my approach is not the most sophisticated one
[code]

[2022-08-29 20:18] itsaboutcode opened #345 "Page scroll to Tabs.Group Component"
**Describe the bug**
I have created a page, which included a component composed of `Tabs.Group` and placed it in the middle of the page. Now when I open this page, the page scroll to that component for no reason. Any idea why it's happening?

**Project information:**

[code]

[2022-08-29 20:34] rluders commented on #345
Could you provide some example? Code? Vídeo? What browser are you using? And so...

[2022-09-06 05:28] arslan639 opened #347 "How to change the color of active flowbite-react/tabs?"
<img width="413" alt="Screen Shot 2022-09-06 at 10 27 13 AM" src="https://user-images.githubusercontent.com/98042574/188553780-0a3d0642-fb58-4a75-aa1d-1ae54d9c92a6.png">
How do we change this blue color to black when it's active.?

[2022-09-06 07:56] #330 closed

[2022-09-07 20:43] VlodkoMr opened #349 "Dropdown don't close on select"
**Describe the bug**
I use Dropdown and when select item from this dropdown, it is still opened.
Documentation also don't have any information how can we do it.

Reproduce:
- Click on dropdown to open it.
- Click on any option element
- Result: nothing changed. Action that was added as onClick for Dropdown.Item work but dropdown is opened.

**Project information:**

- Tailwind: 3.1.8
- Flowbite: 1

[2022-09-08 06:54] chankruze opened #350 "lib: hydration issue with modal component"
I have encountered the hydration issue with flowbite-react modal. There may(not) issues with other components but as of now I have tested only with the `Modal`.

I followed the official docs: https://flowbite-react.com/modal and created a repo for the demonstration. I have also made a video about the issue on the YouTube with me explaining the actual problem. I also did a comparison with the `reac

[2022-09-08 07:12] chankruze commented on #350
I check the code and found that we are also using portal to create a div and append the modal to that. It seems like that `window` check is causing the issue. I am experimenting and will update here soon.

[2022-09-09 00:59] Nefarioum commented on #349
I am experiencing the same issue with this. Is there some sort of way I can hide it temporarily for now until a fix is release?

[2022-09-13 07:29] #350 closed

[2022-09-14 06:15] Ahmad-As7 opened #352 "navbar item on select doesn't collapse navbar"
**Describe the bug**
when selecting a navbar Item  on small screens Navbar should collapse but it doesn't.

**Project information:**
- Flowbite React: 0.1.2

[2022-09-14 16:04] aminsoraya opened #355 "Change Pagination Text"
Hello there
Im using pagination from [](https://flowbite-react.com/pagination), but i cant change Next and Previous text to I preferred texts.
My language is Persian.

[2022-09-16 20:27] AstrisDev commented on #349
I am experiencing with this bug too. Is any idea how to close dropdown on item click?

[2022-09-18 00:14] thedaviddias commented on #349
Up!

[2022-09-18 08:41] rluders commented on #352
I'm not sure that it is a bug, once the Navbar collapse behaviour isn't given by flowbite-react out of the box, and you need to implement it by yourself.

However, I'm curious to see how it could be implemented, once it seems to be something that needs to be pass to the elements inside the navbar.

[2022-09-18 14:06] tiagossa1 opened #357 "Missing avatar with placeholder initials"
**Describe the solution you'd like**

Flowbite React's Avatar component does not provide an avatar that has placeholder initials, unlike flowbite. E.g. https://flowbite.com/docs/components/avatar/ - see "Placeholder Initials".
The solution could be: instead of passing an image URL, Avatar could have another prop called "placeholderInitials" or similar where the developer passes the initials as a s

[2022-09-19 06:33] #355 closed

[2022-09-20 07:43] phbernard opened #359 "Tooltips are behind tables"
**Describe the bug**
When displayed, tooltips are supposed to appear in front of anything else. However, they are behind tables:

![image](https://user-images.githubusercontent.com/423852/191195612-e1b53206-7489-4f2e-9ed4-f2b248a160c2.png)

**To Reproduce**
Steps to reproduce the behavior:

1. Go to [Flowbite React website, Table page](https://flowbite-react.com/tables)
2. Reduce the brower's wind

[2022-09-20 08:02] rluders commented on #359
@phbernard flowbite version?

[2022-09-21 14:37] fs-innonova opened #361 "Buttons outline does not match specification"
If we set the outline prop to true the Button component does not behave as in the docs

expected outcome:
<img width="1025" alt="image" src="https://user-images.githubusercontent.com/93779923/191533383-4b6a4070-4bc2-4b17-95da-2a0e0bb48914.png">

current outcome:
<img width="981" alt="image" src="https://user-images.githubusercontent.com/93779923/191533542-78c7249a-52c7-4695-a70a-1d761be7c8d1.png">

[2022-09-21 14:49] rluders commented on #361
Well, this is at least strange. I was checking the classes applied to the button and it should be forced to `focus:!ring-2` but the normal one is `focus:ring-4`, the same as standard flowbite docs.

Anyway, maybe we need to do some extra tailwind configuration or update some dependency?

[2022-09-21 21:07] tiagossa1 commented on #349
+1

[2022-09-22 09:58] vonnue-be commented on #349
+1

[2022-09-22 14:13] fs-innonova commented on #341
I had a look into the source code, and I guess in order to achieve this we would have to update this part
[code]
and if is a button we need to add: `ref={ref}`

[Here there is some more info on how to use this `forwardRef`](https://react-typescript-cheatsheet.netlify.app/docs/basic/getting-started/forward_and_create_ref/)

[2022-09-22 20:09] ShaneMaglangit commented on #349
Can I work on this?

[2022-09-22 20:23] rluders commented on #349
Sure, @ShaneMaglangit

[2022-09-23 03:05] thiendang-webtretho commented on #349
+1

[2022-09-23 03:07] thiendang commented on #349
+1

[2022-09-23 11:36] juanppdev opened #362 "Itemize things for example Navbar"
Could you please be more detailed when it comes to using Flowbite React components? Since I don't know where fluid and rounded come from. Thank you very much.

[2022-09-24 22:28] nsoubelet opened #363 "Unexpected token '?' when going to specific page."
I am seeing this really strange behavior, basically If I move to certain page using next's `route.push` it renders w/o problem.
However, if I go to the page **directly by typing the URL**, I get the following:

[code]
With this stack:

[code]

**Important**: the component I'm trying to render uses `Spinner`.
**Important 2**: the next's page component is doing nothing but returning the other compon

[2022-09-24 22:59] nsoubelet commented on #363
Just wanted to add that I confirmed that problem is `Spinner`.
If I remove it completely, then it starts to work correctly...

But, most interesting part. The following page:

[code]

... fails even though the imported component is not being used (makes sense at some point). When removing the `Spinner` import sentence from `ComponentWithSpinner`, it renders ok.

Conclusion: there is something in t

[2022-09-25 03:52] mhdfrhan opened #364 "how to set Navbar.Collapse when lg screen size on flowbite react components?"

[2022-09-25 10:49] sazzer commented on #349
I've got the same problem. However, I'm putting navigation links into my dropdown - courtesy of react-router - and I'm finding that once I've used one of these links the dropdown not only remains open but doesn't close if I click outside it. The only way to close it is to click on the opener button again. The dropdown *does* close when clicking outside it before I click on one of these links thoug

[2022-09-26 23:18] nsoubelet commented on #363
More stuff -- The same happens when using, for example, `DropDown` component and entering URL manually.

I see always the same problematic file at the same line:
`/node_modules/flowbite-react/lib/cjs/components/Card/index.js:15`

Maybe it's me doing something wrong, but it only happened with flowbite-react components so far...

[2022-09-27 07:17] ShaneMaglangit commented on #349
@sazzer actually, its precisely that `Dropdown.Item` does not have any functionality that updates the state of the floating menu. It is nothing more than a wrapper to a `<li>` element. The way that it is designed to be entirely independent of `Dropdown` makes it challenging to add that, since it would require passing the `setOpen` of `Floating` to its children.

I do have a proposed solution but I

[2022-09-27 07:31] donnguyen commented on #349
We might need to completely re-implement the Dropdown component. `React DOM Interactions` now support a tree with nested item, it could be a good way to go, the example is available here: https://codesandbox.io/s/admiring-lamport-5wt3yg?file=/src/DropdownMenu.tsx

[2022-09-27 10:07] rluders commented on #349
PR is very welcome to fix this one.

[2022-10-01 06:47] Chetan-B-B commented on #359
@rluders  assign this bug to me , I'm happy to work

[2022-10-01 10:41] crypt096 opened #366 "How to edit components?"
E.g. I want to change navbar / footer / link colors. I am not aware on how I could do such a thing?

[2022-10-01 10:52] lifeBalance opened #367 "Carousel shows all items at the same time"
**Expected behavior**
I expect to see each carousel item(picture) one at a time, not all of them at once, side to side.

I apply the attribute `data-carousel-item="active"` to the first image. Maybe I'm doing something wrong?

**Project information:**

- Tailwind: 3.0.0
- Flowbite: 1.4.7
- Flowbite React: 0.1.2
- Type: Vite

[2022-10-01 11:09] lifeBalance commented on #367
Nevermind, got it working. Just forgot **step 7** when installing [flowbite](https://flowbite.com/docs/getting-started/react/)

[2022-10-01 11:09] #367 closed

[2022-10-01 13:21] Vrishtrix commented on #291
Creating a PR to migrate spinners to Hugo

[2022-10-01 19:51] rluders commented on #291
It is probably blocked by #311... But, yeah, I would love some help.

[2022-10-02 17:19] adlpz opened #371 "License link in README.md is broken"
**Describe the bug**
The link titled "Read about the licensing terms" that points to https://flowbite.com/getting-started/license/ in the main README.md file goes to a 404 page. This may mislead potential users that may not be aware of the licensing details.

**To Reproduce**
Scroll all the way to the bottom of the README.md file and find the broken link described before.

[2022-10-03 17:38] lukemurray7 commented on #366
Yeh - we should be able to override the classnames of components - i'm stuck because the Carousel has a fixed height..

[2022-10-03 19:44] abhilipsasahoo03 opened #372 "Welcome page to Storybook setup doesn't show content"
**Describe the bug**
The Welcome page to Storybook setup is empty and doesn't show content.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to Storybook setup for flowbite-react.
2. Click on Welcome Page.
3. Switch to Canvas or Docs.
4. See error.

Or check out this [link](https://flowbite-react.com/storybook/?path=/docs/welcome--page)

**Expected behavior**
Content present in [this file

[2022-10-03 19:51] abhilipsasahoo03 commented on #372
@rluders could you please confirm this bug?

[2022-10-04 09:40] #371 closed

[2022-10-04 09:45] rluders commented on #366
Right now you can customize it only using the theme support. We are planning to give access to the `className` property again, but still, need to decide how it is going to work along with the theme support.

I'm closing this one, since it is already a "in progress" discussion that will lead for a implementation task in the future.

[2022-10-04 09:45] #366 closed

[2022-10-05 23:32] EstebanVictorio commented on #366
@rluders I have one last question about this.

The docs say that the theme is an experimental feature that might potentially change.

Is that notice up to date or is theming still a WIP?

[2022-10-07 07:20] sayinmehmet47 commented on #349
+1

[2022-10-07 07:30] ShaneMaglangit commented on #349
@rluders perhaps we can add the hacktoberfest tag on the repo to attract more help on this?

[2022-10-08 09:19] iamargentum commented on #357
hi @rluders !
can  i work on this issue?

[2022-10-08 12:50] rluders commented on #357
@iamargentum go ahead.

[2022-10-09 17:35] IamGideonIdoko commented on #361
@rluders Can I work on this?

[2022-10-09 22:20] 2-fly-4-ai commented on #345
I have the same issue.

When opening a new page, if it contains the flowbite-react Tabs component it will open on that element rather than the top of page as expected.

[2022-10-09 23:13] rluders commented on #361
@IamGideonIdoko go ahead

[2022-10-10 09:16] vylink commented on #349
+1

[2022-10-10 15:43] Drex72 commented on #329
can i word on this?

[2022-10-10 15:43] Drex72 commented on #329
can i work on this

[2022-10-10 16:36] rluders commented on #329
@Drex72 sure, go ahead

[2022-10-10 16:58] #372 closed

[2022-10-10 16:58] #361 closed

[2022-10-11 08:30] fs-innonova commented on #349
+1 please

[2022-10-11 14:06] #357 closed

[2022-10-11 19:59] tanya172 opened #379 "Addition of Footer"
The addition of Footer to the website will enhance it.

Kindly assign me this issue and add the Hacktoberfest label. @themesberg

[2022-10-11 20:05] rluders commented on #379
Sorry. I don't get it. You are saying that the flowbite-react.com layout has no Footer? Or there is a missing Footer layout in the component documentation?

[2022-10-11 20:15] tanya172 commented on #379
There is no footer section on the webpage. Since every website has a footer so I feel there is a need for footer where we can mention further information, for instance, about us, the company's name, social media links

[2022-10-11 20:21] rluders commented on #379
All right, got it @tanya172. I'm not sure if we need but... lets discuss it. :)

@tulup-conner  @zoltanszogyenyi what do you think? Do we need a footer at the current flowbite-react.com? If so, what information would be nice to have?

TBH, I don't see any benefit right now, since we are planning for a long time to move the documentation to Hugo. But, please, let me know what you folks think about

[2022-10-12 01:38] tinuh opened #380 "Progress Bar with Label inside"
**Describe the bug**
The label is not shown in the Progress component with the label inside. Need to update the code in the demo to include label position prop

**To Reproduce**
Steps to reproduce the behavior:

1. Go to https://flowbite-react.com/progress
2. Scroll down to the progress bar with the label inside

**Expected behavior**
The label should be shown inside the progress bar

**Screenshot

[2022-10-12 04:07] OxyTJ opened #382 "Import from 'flowbite-react' invalid hook call error"
**Describe the bug**
When I import a component directly from `flowbite-react` such as the following:

[code]

I receive an **Invalid hook call** error in the console and the page will not load.

However, if I run the following import, it works just fine:

[code]

Based on other examples I have seen, I don't believe this is the intended use.

**To Reproduce**
- Create a **vite** project with the `r

[2022-10-12 06:41] rluders commented on #382
If I have to guess, you probably missed some configuration:

https://flowbite.com/docs/getting-started/react/

Can you please provide some sample project to validade the issue?

[2022-10-12 06:44] #380 closed

[2022-10-12 06:53] rluders opened #383 "Render the React component inside Hugo"
**Is your feature request related to a problem? Please describe.**
We are moving our documentation to Hugo, to keep the same layout and usability that is found today at the flowbite.com documentation. For that, one of the challenges is to convert the preview partial/component to something that must be able to render the flowbite-react component.

**Describe the solution you'd like**

- Write the e

[2022-10-12 06:55] rluders commented on #383
I was working on this one but got stuck... So, I need some help.
This issue already has a WIP PR that can give some idea (or not): https://github.com/themesberg/flowbite-react/pull/311

[2022-10-12 17:11] fogracvxy opened #384 "Bug scrollIntoView stopped by carousel change"
**Describe the bug**
`javascript
const scrollTo = (element) => {
    const section = document.querySelector(element);
    section.scrollIntoView({ behavior: "smooth", block: "start" });
  };`

**To Reproduce**
Steps to reproduce the behavior:

Scroll randomly stops in the middle of the page sometimes it seems when picture in carousel is changed. What could produce this error. I tested it with chan

[2022-10-12 18:02] johngouf opened #386 "Header navigation menu not expanding on mobile view"
**Describe the bug**
Followed the instructions to setup a flowbite-react project.
Copied the code for header block in https://flowbite.com/blocks/marketing/header/
Everything works fine except when I switch to mobile view that the navigation menu doesn't expand on click

**Expected behavior**
The side menu to expand

**System information:**

- Device:
- Resolution:
- OS: Ubuntu
- Browser: Firefox/

[2022-10-13 10:13] sayinmehmet47 opened #432 "Dropdown menu does not close when passing onclick event to Dropdown component"
I have passed onclick event to Dropdown to understand if dropdown is open or not.

[code]
But when I pass onclick to that component, I cant  close the dropdown in mobile size. It works on desktop mode

![image](https://user-images.githubusercontent.com/75525090/195569842-cebd5df0-d769-4aad-9bda-dbebc37d630f.png)

Is there any other way to find if dropdown open or close??

[2022-10-13 16:25] WenLonG12345 commented on #349
+1

[2022-10-14 04:26] OxyTJ commented on #382
I'll work on getting a public repo put together. I did create a basic Vite project today - without using Turborepo with multiple applications - and confirmed that I could render Flowbite-React components just fine, so it's something to do with how it's configured with Turborepo specifically. I configured Flowbite/Flowbite-React the same way I configured TailwindCSS. TailwindCSS is working just fin

[2022-10-15 07:03] OxyTJ commented on #382
[Here](https://github.com/OxyTJ/turborepo-flowbite-react-example) is a stripped down example of my project. I am attempting to render a simple `Badge` component from `packages/lib/src/components/BadgeTest.tsx`. If you run `npm run dev` and open up dev tools in the broswer, you'll see the invalid hook calls/useContext logs. If you comment out line 7 in `BadgeTest.tsx` to prevent rendering the `Badg

[2022-10-15 07:21] rluders commented on #382
I'm not seeing this part of the configuration in your project:

[code]

[2022-10-15 08:03] rluders commented on #382
Well, it seems that it is not a `flowbite-react` bug... It is probably something specific from TurboRepo usage, but I never used it so I don't know how to help.

[2022-10-15 08:07] rluders commented on #379
Well, it seems that since nobody replied to it, I'll keep my opinion that there is no benefit right now, since we will move the documentation to Hugo.

Thanks for the suggestion anyway. If you are interested to contribute with the project there are some [open issues that needs help](https://github.com/themesberg/flowbite-react/issues?q=is%3Aissue+is%3Aopen+label%3A%22help+wanted%22).

[2022-10-15 08:07] #379 closed

[2022-10-15 19:34] nsoubelet commented on #349
@sazzer @ShaneMaglangit To me this is the kind of issues one could find when designing using a composite approach with cisolation, I mean, separating components completely. In this case `Dropdown` knows nothing about `Dropdown.Item`s and viceversa.
I rather prefer to think of events, therefore `Dropdown.Item`s could handle clicks internally and first notify it's parent (`Dropdown`) and then execut

[2022-10-16 12:02] myasteiner opened #389 "Export useTheme and useThemeMode from ThemeContext"
**Is your feature request related to a problem? Please describe.**
I would like to have accessibility to the `useTheme` and `useThemeMode`, due to custom element styling.

**Describe the solution you'd like**
Export `useTheme` and `useThemeMode` from `ThemeContext`.

**Describe alternatives you've considered**
The current workaround is to modify the ThemeContext files on `postinstall` with a scrip

[2022-10-16 13:28] rluders commented on #389
@myasteiner Can you provide a hypothetical example of how you will use the `useTheme` and `useThemeMode` in your scenario?

What are you expecting to achieve with this? How you are going to use it? Which type of customization are you looking for?

[2022-10-16 13:44] myasteiner commented on #389
Hi @rluders , i've created a PR for it with the updated docs.

I would like to use the $`useTheme` hook and `useThemeMode` hook for custom components (e. g. custom form element). Therefore i would need to know the current theme mode but also colors in each mode. I want to ensure, that my own component is styled like Flowbite's components.

[2022-10-16 14:16] #389 closed

[2022-10-16 19:11] myasteiner commented on #341
There is a workaround using a HoC and copying `displayName`, `defaultProps` and `propTypes` with `Object.assign`.

[code]

@rluders If you want, I can provide a PR tomorrow to wrap the component with `forwardRef`.

[2022-10-17 08:30] ShaneMaglangit commented on #349
@nsoubelet May you clarify what is your proposed solution? How can we achieve that effect?

Based on how I initially understood your suggestion, propagating `setOpen` is doing exactly what you hope to achieve. The Dropdown container is notified of the event when `setOpen` is called.

[2022-10-17 09:20] nsoubelet commented on #349
@ShaneMaglangit  I did not say your solution won't work, I just said that maybe a better practice would be notify `Dropdown` instead calling `setOpen` in a child component.
`open` is a `Dropdown` inner property and **ideally** should be changed and only visible by the component itself.

Having said that, I agree with you the effect will be the same using either style and we all need this fixed ASA

[2022-10-17 10:47] ShaneMaglangit commented on #349
I do have a proposed solution in my local environment, I'll try to deal with the issues so I can submit a PR tonight.

I do understand what you are suggesting. However, I'm having trouble figuring out how to do this precisely on React. If you can clarify how to do this, perhaps I can modify my work a bit. To clarify, how can we notify the Dropdown from DropdownItem without my initial idea?

[2022-10-17 12:40] nsoubelet commented on #349
Something like this:

In `Dropdown` component
[code]
In `Dropdown.Item` component
[code]
`handleClickDropDown` you pass same way you are planning to pass `setOpen`.
`itemClickHook` is the function that comes from the top-level component, passed in `onClick` prop. In this approach item handles the click internally, notify it's parent and then continues upstream.

[2022-10-17 12:59] rluders commented on #349
Some reference:
https://github.com/fraserxu/react-dropdown/blob/master/index.js

[2022-10-17 13:40] ShaneMaglangit commented on #349
I see, I better understand what you meant now. I've seen debates about this but in the end, it is just a matter of preference whether to pass setState directly or wrap it in a function. Either way, I ended up not following this in my PR.

@rluders I believe this reference has a very different structure than our implementation. Thus, isn't really transferable to this. I did submit a PR, please do c

[2022-10-17 13:49] rluders commented on #349
I'll check the PR later. Or if someone else is interested in testing it and reviewing it I'll also accept it.

I must say that I do prefer it done than perfect. We can rework the component if we felt that it is too complicated or if it doesn't fully match our expectations.

I guess that our main goal here is to relieve the existing pain and let users close the Dropdown by:

- Clicking outside the

[2022-10-17 18:06] Drex72 commented on #329
@rluders
![Screenshot 2022-10-17 200120](https://user-images.githubusercontent.com/90635055/196250167-759db6a7-a729-4928-92bb-bc7d4a0e95dc.png)

How is the collapsed prop in the sidebar being toggled in the index.tsx
![Screenshot 2022-10-17 200323](https://user-images.githubusercontent.com/90635055/196250186-a946136c-bd93-4bef-9ebb-5352d1507830.png)

And what is the underlined code below doing.is

[2022-10-17 19:00] rluders commented on #329
https://github.com/themesberg/flowbite-react/blob/37644b7247a35ce15df0379425139585bc8ae27f/src/lib/components/Sidebar/index.tsx#L21

Well, yep... This is definitely a bug.

[2022-10-17 19:06] johngouf commented on #386
Just an update on this. When I added:
[code]
in the <body> element in index.html it worked.

Do we also need to do that?

[2022-10-18 06:42] rluders commented on #386
Well, nope. Do not mix standard flowbite javascript with flowbite-react, please.

[2022-10-18 10:00] yiannis-zen commented on #386
Ah got it, sorry I didn't realise that the code blocks we should be using are these: https://flowbite-react.com/
Just a suggestion so that other people don't get confused:
Maybe here: https://flowbite.com/docs/getting-started/react/ we could add a warning that blocks from here https://flowbite.com/blocks/ won't work

[2022-10-18 10:01] #386 closed, assigned to nobody

[2022-10-19 01:47] Drex72 commented on #329
I've made the changes and its working.The issue now is committing.
I followed the contributing guide but i'm still getting an error
![Screenshot (40)](https://user-images.githubusercontent.com/90635055/196577798-ef24bf99-afec-4161-917b-fdd46b216293.png)
![Screenshot (41)](https://user-images.githubusercontent.com/90635055/196577912-62d67a58-44bb-475a-9ad5-1df991eff345.png)
![Screenshot (42)](https

[2022-10-19 06:45] rluders commented on #329
@Drex72 is it possible that you are not using the [conventionalcommits](https://www.conventionalcommits.org/) rules at your commit message?

[2022-10-19 08:09] Drex72 commented on #329
I'm not familiar with it, can you give me an idea on what it is

[2022-10-19 11:14] rluders commented on #329
@Drex72 there is the link from my previous commend and as well this video: https://www.youtube.com/watch?v=OJqUWvmf4gg

[2022-10-19 19:56] #359 closed

[2022-10-19 20:25] #341 closed

[2022-10-19 20:32] #349 closed

[2022-10-19 20:40] rluders commented on #349
Thanks @ShaneMaglangit for the hard work on this one.

[2022-10-20 08:30] darlk opened #394 "Dropdown in hover cannot point to item"
**Describe the bug**
set dropdown component in hover trigger mod
mouse enter is ok, but mouse leave, the menu is close too...

**To Reproduce**
https://flowbite-react.com/storybook/?path=/docs/components-dropdown--inline
set trigger mod in hover

**Expected behavior**
mouse can point to menu any time an select something

**Screenshots**

**System information:**

- Device:
- Resolution:
- OS:
- Bro

[2022-10-20 10:18] NashAtFramework opened #395 "Carousel doesn't work correctly in safari (MacOS)"
**Describe the bug**
Carousel doesn't operate correctly when using desktop safari. It will move only a few pixels as you attempt to navigate through items

**To Reproduce**
Literally check the website on desktop safari https://flowbite-react.com/carousel

**Expected behavior**
Each event moves the entire card content fully

**Screenshots**
https://user-images.githubusercontent.com/94366107/1969227

[2022-10-20 11:07] ritechoice23 opened #396 "access to customize components"
please give access to add more classes to components for further customization.

[2022-10-20 12:39] rluders commented on #384
It could be related to #395

[2022-10-20 12:40] rluders commented on #362
What is the goal here? Can you give us more context @fomundifr ?

[2022-10-20 13:07] #362 closed

[2022-10-20 16:22] andemohit opened #397 "Add support for NextJS links like <Link href="/about"></Link>"
**Is your feature request related to a problem? Please describe.**
I am using flowbite-react for the NextJS application. I am trying to use NextJS links inside the Sidebar component.

`<Sidebar.Item>
    <Link href="/about">About</Link>
</Sidebar.Item>`

In the console, it says `<a> cannot appear as a descendant of <a>`

**Describe the solution you'd like**
Could you please add support for `next/l

[2022-10-21 14:42] SperandioIcaro opened #400 "Novas animações"
Uma questão que sempre vi no tailwind é  sobre as animações disponibilizadas, e toda vez que quero adicionar uma animação diferente é precioso fazer do zero,

Seria interessante já adicionar essas animações, como animação de onda, gravidade 0 e etc..

[2022-10-22 15:13] CYB3RL1F3 opened #402 "Regression"
**Describe the bug**
Design broken since Button now take the whole parent width. Button not working anymore with flex stackers as well.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to any component handling button

**Expected behavior**
A button that doesn't take the whole width but the fitted content.
If you want your button to take the whole parent width, add a className.

**Screens

[2022-10-22 20:48] #402 closed

[2022-10-23 07:25] rluders commented on #400
@SperandioIcaro eu não entendi qual a requisição aqui. Poderia dar mais detalhes? Você quer adicionar animações onde? Qual componente? Se a ideia for expandir as animações que existem no TailwindCSS, imagino que esta não seja a proposta da biblioteca aqui em questão.

[2022-10-23 14:09] rluders opened #408 "Theme with TS doesn't accept Partial<T>"
**Describe the bug**

I'm trying to extend the `FlowbiteTheme` to create my own theme using Typescript but it doesn't seems to be work as expected.

**To Reproduce**
Steps to reproduce the behavior:

1. Create a CRA project with TypeScript
2. Install flowbite-react `0.3.*`
3. Create a custom `theme.ts` (sample code bellow)
4. See it fail

[code]

**Expected behavior**

It should be possible to par

[2022-10-23 14:09] rluders commented on #408
@tulup-conner could you please help on this one? Am I doing something wrong?

[2022-10-23 17:55] tulup-conner commented on #408
Yeah, Partial is a shallow TypeScript Partial. In other words, it won't look for deeply nested members (i.e., further than one level deep). What you want is either the custom DeepPartial type I created, or to just use the CustomFlowbiteTheme type I also created. @rluders

[2022-10-24 13:57] #408 closed

[2022-10-24 22:52] tiagossa1 opened #409 "Support colors in Avatar component"
Avatar component has color property, but it doesn't work. Any color that is passed doesn't change anything.
IMO, it should have the following colours:
- dark
- failure
- gray/info/light
- purple
- success
- warning
- pink

Gray, info and light, if all added, should have different tones, to distinguish them.

I've tried to implemented and almost got it to work, so I think whoever picks this should:

[2022-10-24 22:55] tiagossa1 commented on #409
`Avatar.tsx`

Line 8:
`export interface AvatarProps extends Omit<ComponentProps<'div'>, 'color'>`

Line 17, before closing the object:
`color?: keyof AvatarColors;`

Line 19, after closing the object and before `AvatarSizes`:
[code]

Line 35 or somewhere before `...props`:
`color = 'gray',` - this sets the default colour of the avatar.

Line 62:
`theme.color[color],`

[2022-10-24 22:56] tiagossa1 commented on #409
`FlowbiteTheme.ts`

Line 89, before closing the object on line 90:
`color: AvatarColors;` - imported from `Avatar.tsx`.

[2022-10-24 22:57] tiagossa1 commented on #409
`default.ts`

Line 100, after closing the object on line 99:
[code]

I've personally chose these colours, but this can be changed.

[2022-10-25 09:06] lytonist commented on #345
Same to me. Even if you go to the docs page at https://flowbite-react.com/tabs focus goes to last tabs first item

[2022-10-25 13:35] fomundifr opened #410 "Bug in the navbar"
Hi, I'm seeing a bug and it's that when using the Navbar everything looks small and when you click on the avatar everything returns to normal, I don't know if it happens in all lerl it happens to me in Nextjs

[2022-10-27 23:39] MarioStipetic opened #413 "Modal is too complex to implement"
I need to write my own scripts just to open the modal? Does not that defeat the purpose of the Flowbite CSS system?
{onClick} etc...
[code]

Why can we use a system where each modal would be opened by using the id:
... data-modal-toggle="defaultModal">
and then
<div id="defaultModal"...

[code]

[2022-10-28 14:15] MarioStipetic commented on #413
Also, I could not find any documentation on how to implement the modal with React -- some example.

[2022-10-30 20:57] lanluu opened #415 "Failed by using React Component"
Hi Flowbite Team,

I followed you tutorial to install Flowbite https://flowbite.com/docs/getting-started/react/.

By importing any Component into my React App e.g. `import { Button } from 'flowbite-react';`, I receive the following error:

[code]
Could you please help to resolve such issue? Thank you very much!

[2022-10-31 14:56] rluders commented on #415
Check this:
https://github.com/themesberg/flowbite-react/discussions/169

[2022-10-31 14:56] #415 closed

[2022-10-31 15:37] Bloodysunset opened #417 "DarkThemeToggle component doesn't work when usePreferences is set to false"
**Describe the bug**
The DarkThemeToggle component's button is working only when `usePreferences=true`.

**To Reproduce**
Steps to reproduce the behavior:

1. Set the theme like [this](https://flowbite-react.com/theme):
[code]
2. Add the DarkThemeToggle component:
[code]
3. Click on the DarkThemeToggle's button
4. Nothing happens

**Expected behavior**
We should be able to propose a default theme

[2022-10-31 16:39] #291 closed

[2022-10-31 17:06] #275 closed

[2022-10-31 19:17] sayinmehmet47 opened #419 "How to customize file input button color?"
**Is your feature request related to a problem? Please describe.**
I can not change the color of the choose file button which is inside form file input component.
<img width="1173" alt="image" src="https://user-images.githubusercontent.com/75525090/199091206-48505e12-e207-45fe-9a5d-8a21c33cbe7b.png">

https://flowbite-react.com/storybook/?path=/docs/components-formcontrols--default-file-input

**D

[2022-11-01 07:46] #397 closed

[2022-11-01 17:27] TD-Developer commented on #394
Taking a quick look at this, I think this can be fixed by implementing the handleClose prop of useHover hook provided by the @floating-ui/react-dom-interactions package.

lines 87-92 in [Floating.tsx](https://github.com/themesberg/flowbite-react/blob/main/src/lib/components/Floating/Floating.tsx)

[code]

would become:

[code]

The useHover docs are [here](https://floating-ui.com/docs/useHoverl).

[2022-11-02 08:31] VedanthB commented on #394
Hi, I'd like to try to fix this, is this up for grabs?

[2022-11-02 08:48] rluders commented on #394
@VedanthB go ahead

[2022-11-03 11:17] VedanthB commented on #394
Hey @rluders, I've fixed this and raised a PR, please review. 😄

[2022-11-03 18:04] dubisdev commented on #410
Same here!

I'm using nextjs too. I see the error when I use the navbar with the avatar component. When I use it with something different like a button it works fine.

[2022-11-03 19:23] #396 closed

[2022-11-04 08:15] ritechoice23 opened #423 "Use of primary and secondary color key"
I want to say a big well-done job to the entire team working on this great project. my suggestion is on color, can the color key used in the component be changed to something like primary and secondary instead of using tailwind's default blue and the like?

[2022-11-04 08:30] rluders commented on #423
Well, you can actually extend the `FlowbiteColors` and add as much colors you like to for your theme, and use it as `primary` and `secundary`.

https://github.com/themesberg/flowbite-react/blob/0e4ae62b2b93561c4857bea63df45fe9170f546e/src/lib/components/Flowbite/FlowbiteTheme.ts#L514

[2022-11-04 08:30] #423 closed

[2022-11-04 08:36] rluders commented on #419
@sayinmehmet47 you can customize if by adding a class to the component and then customize if with CSS using it.

[code]

[code]

Or you can use the theme support to customize it, if the style is going to be the same for all your `FileInput` components.

[2022-11-04 08:37] #419 closed

[2022-11-04 08:38] rluders commented on #413
Maybe we can provide some "ready to use" `useModel()` context provider? Does it help?

[2022-11-04 08:52] rluders commented on #410
Folks, we do have a template for bugs, when you are creating an issue. Please use it. I can't actually work on those issues if I don't have enough information to reproduce the issue. Please, @fomundifr, edit your issue as [use this template](https://raw.githubusercontent.com/themesberg/flowbite-react/main/.github/ISSUE_TEMPLATE/bug_report.md) and fill up as much info as possible.

[2022-11-04 10:37] #410 closed

[2022-11-05 19:16] #417 closed

[2022-11-06 09:45] #277 closed

[2022-11-06 10:01] #400 closed

[2022-11-06 10:06] rluders commented on #329
I was investigating this one today, and I'm not sure that it is a bug. I mean, OK, it isn't collapsing, but I think that it would be very arbitrary from the component perspective if we add this functionality directly to it.

So, my suggestion is to add this control to your own application and change the `isCollapsed` property of the sidebar according to your desired behavior.

[2022-11-06 10:06] #329 closed

[2022-11-06 10:07] #337 closed

[2022-11-06 10:13] rluders commented on #323
I think that just adding some `w-max-md` or something to this line:

https://github.com/themesberg/flowbite-react/blob/c9c257e75f702961739f13fcc926eb58af5e3670/src/lib/theme/default.ts#L888

Should solve the issue. Can someone test it and create a PR?

[2022-11-06 10:16] rluders commented on #352
See #329

[2022-11-06 10:16] #352 closed

[2022-11-06 10:27] #244 closed

[2022-11-06 10:30] #259 closed

[2022-11-06 10:32] #176 closed

[2022-11-06 10:34] #255 closed

[2022-11-11 23:02] cazterk opened #428 "date-time-picker"
Just a simple request would be nice to have a dateTime picker component

[2022-11-12 06:22] arkmech opened #429 "Next.js Sidebar Multi-level dropdown Tooltip Overlap"
**Describe the bug**
Condition: Sidebar Collapsed State Hovering over items in a dropdowns
Tooltips do now show correctly

**To Reproduce**
Have sidebar collapsed and have multi-level dropdown expanded, then hover over the elements

**Screenshots**
Not Collapsed: Good
<img width="277" alt="Screenshot 2022-11-12 at 1 18 27 AM" src="https://user-images.githubusercontent.com/114366662/201460450-ca28a

[2022-11-12 18:14] R3D4NG3L commented on #413
The example reported on Flowbite React Components doesn't work due to the missing implementation of the onClick.
Do you have any working complete example?
Thank you!

[2022-11-14 15:20] myasteiner opened #430 "Maximum update depth exceeded with Next/Link and SidebarItem"
**Describe the bug**
I opened a bug ticket here, see: https://github.com/vercel/next.js/issues/42902

**To Reproduce**
See: https://codesandbox.io/p/sandbox/hopeful-thompson-1lw449

**Expected behavior**
That it only renders once.

**Additional context**
This problem is occuring, because we're currently creating Components inside of other Components for e. g.: https://github.com/themesberg/flowbit

[2022-11-16 16:10] rluders opened #433 "Export all components interface/types to `flowbite-react`"
**Is your feature request related to a problem? Please describe.**
Sometimes I need to handle some data from API or configurations that will later be passed to a flowbite-component. In this case, I would like to convert this data to the component property types.

**Describe the solution you'd like**
All interfaces/types used by flowbite components must be exported as types to the default package.

[2022-11-16 17:20] peteruche21 commented on #395
i have similar issue with nextjs13,  i'm using brave browser and  non of the carousel images or elements are  displayed.

[2022-11-16 20:17] rluders commented on #433
BTW, the goal is to allow this:

[code]

[2022-11-16 20:21] Rafaelb4rros commented on #433
Hello, I would love to do this issue. The best place to export the types is from the 'index' file on the 'components' folder right?

[2022-11-16 20:25] rluders commented on #433
@Rafaelb4rros I think that the existing `export * from `./Component'` that we have at the `index.ts` is already doing it. But, I'm not sure why it isn't working for all the components interface.

It seems that it only exports the interface from the main component at the folder, ignoring the subcomponents.

I would like to have it all the components and interfaces exported. So, maybe just by doing

[2022-11-16 20:33] Rafaelb4rros commented on #433
Yes, only the types of the primary component is being exported correctly:
![image](https://user-images.githubusercontent.com/80357541/202287740-9334f2ba-6395-4cc3-98f7-6f85713791b2.png)
I think doing like you said will solve it.

[2022-11-16 20:33] rluders commented on #433
For `Breacrumb` component it should look like this:

[code]

[2022-11-16 20:39] Rafaelb4rros commented on #433
is this a typo error?
![image](https://user-images.githubusercontent.com/80357541/202289187-592fef5f-2fb3-4a87-9960-0b2ca13f0d0e.png)
should i fix it?

[2022-11-16 22:30] Rafaelb4rros commented on #433
tem outro problema, alguns componentes são exportados "diretamente":
![image](https://user-images.githubusercontent.com/80357541/202308414-778ee00c-8ad4-4ef1-9fd2-8dc9a8ef9b5a.png)
o ideal seria trocar o import para o arquivo Index: `export * from './Accordion';`

[2022-11-16 22:56] Rafaelb4rros commented on #433
and there are some primary components that are not being exported on the `components` index file, like the `Floating` component, this breaks the types import:
![image](https://user-images.githubusercontent.com/80357541/202311961-784e56bd-145d-400f-892e-5d25d29ccd7b.png)
we can export the `Floating` component like the others:
![image](https://user-images.githubusercontent.com/80357541/202312537-e86

[2022-11-17 09:36] #433 closed

[2022-11-17 09:38] rluders commented on #430
@myasteiner I think that we can try. Do you want to create a PR for it? I guess that we also going to need to update the doc/example page and storybook. Right?

[2022-11-17 09:39] rluders commented on #429
I want to get the #430 solved first, 'cause I think that we could have some overlap here. But I could be wrong.

[2022-11-17 09:41] rluders commented on #413
@R3D4NG3L you need to implement your own. The documentation uses the librabry, so, you can get the example from there.

[2022-11-17 09:41] rluders commented on #428
Closing. Duplicated #186

[2022-11-17 09:41] #428 closed

[2022-11-17 09:43] rluders commented on #432
flowbite-react version? Can you provide a working example? Codepen or something helps a lot.

[2022-11-21 08:19] DaRabus opened #436 "Textfield Icon Position"
**Is your feature request related to a problem? Please describe.**

While using the TextField Input from your repository i figured it there is right now only a way to display the Icon on the left side.

![image](https://user-images.githubusercontent.com/44967066/202989630-10d747e7-5587-44da-a6b0-3114faadf9b8.png)

**Describe the solution you'd like**
I would like to introduce an optional parameter

[2022-11-21 08:55] rluders commented on #436
I like this idea. It should be pretty easy to implement.

Once the `TextInput`'s base style is `flex`, we can probably just change the [order](https://tailwindcss.com/docs/order) of the elements based on the given property.

https://github.com/themesberg/flowbite-react/blob/dadd5b9c2a9298281a56bc85ce8e47319c941da2/src/lib/theme/default.ts#L384

[2022-11-21 10:16] rluders commented on #436
So, @myasteiner, in this case, we can have two "addon" per field, right? So it would be something like:

[code]

Let me ask another thing... Do we want to somehow interact with those add-ons? By clicking or something?

[code]

[2022-11-21 11:40] DaRabus commented on #436
I created a draft PR for this one, still gotta do some tests, so it doesn't crash anything else, but should be easy like this to implement.

Might be something for you to consider to refactor in a future approach to make it easier and more generic

[2022-11-22 07:59] DaRabus commented on #436
Added some examples to the docs and tested it so far :)

@rluders

[2022-11-25 04:53] sldk-yuri commented on #409
@rluders @tiagossa1 just did PR. @tiagossa1 thank you for the detailed description and steps, it was a really helpful. I've used pallet that was suggested by @tiagossa1 Also I'm going to update docs for Avatar component as well soon.

[2022-11-25 20:08] connergdavis opened #441 "`Sidebar`: Add `Sidebar.Item` label to theme"
**Is your feature request related to a problem? Please describe.**
You can't control the CSS of a `Sidebar.Item`'s `label` (referring to the `label` found in the `props` of this component) directly in the theme.
 Currently, the implementation is a `Badge` with no `className` controls.

**Describe the solution you'd like**
I would like to be able to control the CSS of `Sidebar.Item` labels (referri

[2022-11-26 10:47] sami3ullah opened #442 "Overriding the default background of Navbar component with custom colors is not working"
**The Problem**
I am trying to change the background of a `<Navbar>` component of Flowbite(which is based on tailwind, so it doesn't matter). when I am giving it my custom as "bg-primary" it's not working but "bg-secondary" is working which is also my custom color. It's happening for some other colors as well.

**To Reproduce**
Link to the repo: https://github.com/sami3ullah/amplify-basics

**Expe

[2022-11-26 13:11] rluders commented on #442
1. Did you check if you can use the custom colors anywhere else?
2. Did you try to overwrite the colors using the flowbite-react theme system?
3. Did you try to make the `className="!bg-customColorName'` important?

[2022-11-26 13:18] rluders commented on #339
I have an idea here. Since we are using the theme system, we could try to get the prefix from `tailwind.config.js` and kind of "prefix" all the styles defined in the theme. Not sure how it will impact the performance, and how we can "build a static theme" from this... but maybe worth giving it a try and creating a PoC.

[2022-11-26 15:29] sami3ullah commented on #442
Isn't it the same as tailwind? I checked the Flowbite docs. It's configured the same way as of tailwind https://flowbite.com/docs/customize/theming/. Or maybe I am missing something(please correct me if I am).

It works with `!` but I don't want to use `!important` everywhere. Even if this is the case, I am failing to understand why it's working for some colors and why it's not for other colors? i

[2022-11-27 10:32] rluders opened #443 "Theme overwrite per component"
**Is your feature request related to a problem? Please describe.**

Today we do have the [flowbite-react theme[(https://flowbite-react.com/theme) that can be used to customize the components and also direct access to component `className`.

The problem with this approach is that using the `className` you can only apply custom classes to the `root element component` (normally the one with `theme.ba

[2022-11-27 10:48] rluders commented on #442
@sami3ullah, not the standard flowbite/tailwindcss theming. OK. You should probably be able to use it to create your own custom styles/CSS classes, but if you want to customize the flowbite-react component style without using the `className` in a way to make it a little bit more consistent. I do recommend you use this: https://flowbite-react.com/theme

You can check the flowbite-react documentatio

[2022-11-27 10:49] rluders commented on #442
Also, I want to point you to #443 that I just created. The idea is to extend the theme support to allow some theme overwriting per component, so the styling for specific-custom components can be easier.

[2022-11-27 10:57] #409 closed

[2022-11-27 21:13] tiagossa1 commented on #409
@sldk-yuri you're welcome! I was checking the original code and almost made it work, so I thought that this was the way to go! Great job!

[2022-11-28 23:54] pupupue opened #444 "Classnames not adding to <Toast.Toggle className="here" />"
Tried to override

`<Toast.Toggle className="absolute top-2 right-2" />`

but any classname i add doesn't seem to work.

Checked the source code, and this obvious prop is missing in the code, so im perplexed.

Since you've declared the prop to extend buton props, please spread them to the component or update the union

ToastToggle.d.ts
[code]

ToastToggle.js
`export const ToastToggle = ({ xIcon: X

[2022-11-29 13:12] wahabshah21 opened #478 "Is there a way to add classes to the flowbite-react components"

[2022-11-29 13:24] wahabshah21 commented on #444
This could be the case with Tabs Component too. Adding classes doesn't seem to work.

[2022-11-29 14:07] sldk-yuri commented on #443
@rluders I've tested the case where we may add `theme` prop to each component and than deepcopy the `useTheme()` result and deepMerge with `theme` prop object.

[code]

And we may use component like this
[code]
![image](https://user-images.githubusercontent.com/118747540/204549262-d0b6b589-ab21-4a81-b34a-f470d863b309.png)

What do you think about that?

[2022-11-29 17:53] rluders commented on #443
@sldk-yuri In general it looks good. I do have two questions:

- Do we really have to `JSON.stringfy` and `JSON.parse` the component theme object?
- Do we need to access FlowbiteTheme['accordion'] like this? Is it to get the object type?

[2022-11-29 20:43] sldk-yuri commented on #443
1) we have to deepcopy the object otherwise we will work with the same object `src/lib/theme/default.ts` and mutate it, all updates will be global. `JSON.parse(JSON.stringfy())` is naive solution, the main thing is clone object deep so we may change/update code ([lodash`s cloneDeep()](https://lodash.com/docs/4.17.15#cloneDeep)?).
2) I've use `FlowbiteTheme['accordion']` to add correct type for the

[2022-11-29 22:39] sldk-yuri commented on #443
I'm agree with you, lets start with branch for theme types decomposition because it look like refactoring

I'm going to:
1. Create a branch "refactor-theme-decomposition" and update theme types in `default.ts` file.
3. Run tests, make sure that everything work correct, fix if something don't.
3. Merge the branch

I think it's a good start point. After that we may continue work on components theme

[2022-11-30 16:44] rluders commented on #443
Also, maybe I would try to move the:

[code]

Into some generic helper function that could be used by all the components.

[2022-11-30 16:47] rluders commented on #443
[code]

[2022-11-30 20:46] aschenkuttel opened #477 "Making the Dropdown Button accessible"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
I used the React Components for the Dropdown and it's pretty annoying that you're not able to change the button style. Yes the label but I want to force a specific height in my case and have to resort to hidden placeholders

**Describe the

[2022-11-30 23:22] tulup-conner commented on #429
Hey @arkmech I fixed this in a new PR which you will see linked below.

[2022-11-30 23:48] focux opened #448 "How to use flowbite-react in React Server Components"
**Describe the bug**
There are some static components that _should_ work on server components (Next.js 13), for instance, the avatar component—and many others—but for some reason is throwing the error below that seems to be coming from `floating-ui`:

[code]

**To Reproduce**
Steps to reproduce the behavior:

1. Create a Next.js 13 project—or any other framework that uses server components.
2. Ren